{
  "openapi": "3.0.4",
  "info": {
    "title": "leadping.Api",
    "description": "leadping API",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.leadping.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/activities/all/my": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets all activities for current user.",
        "operationId": "Activities_GetAllForCurrentUser_options",
        "requestBody": {
          "description": "Pagination, filtering, and sorting options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activities were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTableRowPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/all": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets all activities for admin.",
        "operationId": "Activities_GetAllForAdmin_options",
        "requestBody": {
          "description": "Pagination, filtering, and sorting options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activities were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTableRowPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/conversations/{conversationId}": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets all activities for a conversation.",
        "operationId": "Activities_GetAllForConversation_conversationId_options",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "description": "The ID of the conversation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Pagination, filtering, and sorting options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activities for the conversation were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTableRowPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/leads/{leadId}": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets all activities for a lead.",
        "operationId": "Activities_GetAllForLead_leadId_options",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The ID of the lead.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Pagination, filtering, and sorting options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activities for the lead were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTableRowPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/{activityId}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets activity by ID.",
        "operationId": "Activities_GetById_activityId",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "The ID of the activity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTableRow"
                }
              }
            }
          },
          "404": {
            "description": "Activity was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/{activityId}/detail": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets activity details by ID.",
        "operationId": "Activities_GetDetailById_activityId",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "The ID of the activity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity details were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Activity was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/conversations/{conversationId}/notes": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Creates a note activity for a conversation.",
        "operationId": "Activities_CreateNote_conversationId_request",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTableRow"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Gets current user's business.",
        "operationId": "Businesses_GetForCurrentUser_NoParams",
        "responses": {
          "200": {
            "description": "Business was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified business was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Businesses"
        ],
        "summary": "Updates current user's business.",
        "operationId": "Businesses_UpdateForCurrentUser_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/options": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "operationId": "Businesses_GetSwitchOptions_NoParams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessSwitchOption"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/switch": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "operationId": "Businesses_SwitchCurrentBusiness_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessSwitchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/users": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "operationId": "Businesses_GetCurrentBusinessUsers_NoParams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessUserTableRow"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Businesses"
        ],
        "operationId": "Businesses_AddCurrentBusinessUser_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/users/{userId}": {
      "put": {
        "tags": [
          "Businesses"
        ],
        "operationId": "Businesses_ChangeCurrentBusinessUserRole_userId_request",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Businesses"
        ],
        "operationId": "Businesses_RemoveCurrentBusinessUser_userId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/invitations": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "operationId": "Businesses_GetCurrentBusinessInvitations_NoParams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessInvitationTableRow"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Businesses"
        ],
        "operationId": "Businesses_CreateCurrentBusinessInvitation_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessInvitationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/invitations/{invitationId}/resend": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "operationId": "Businesses_ResendCurrentBusinessInvitation_invitationId",
        "parameters": [
          {
            "name": "invitationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/invitations/{invitationId}": {
      "delete": {
        "tags": [
          "Businesses"
        ],
        "operationId": "Businesses_RevokeCurrentBusinessInvitation_invitationId",
        "parameters": [
          {
            "name": "invitationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/invitations/token/{token}": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "operationId": "Businesses_GetInvitationByToken_token",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/invitations/accept": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "operationId": "Businesses_AcceptInvitation_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptBusinessInvitationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/my": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Gets conversations for the current user.",
        "operationId": "Conversations_GetAllForCurrentUser_requestDataOptions",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponsePagedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponsePagedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponsePagedResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/lead/{leadId}": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Gets conversations for a specific lead.",
        "operationId": "Conversations_GetConversationsByLead_leadId_requestDataOptions",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead ID to get conversations for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponsePagedResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponsePagedResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponsePagedResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions": {
      "post": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Creates a disposition.",
        "operationId": "Dispositions_Create_request",
        "requestBody": {
          "description": "The disposition data to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispositionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Disposition was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispositionResponse"
                }
              }
            }
          },
          "404": {
            "description": "A related resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions/{id}": {
      "put": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Updates a disposition.",
        "operationId": "Dispositions_Update_id_request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispositionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispositionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Gets a disposition.",
        "operationId": "Dispositions_Get_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the disposition to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disposition was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispositionResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified disposition was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Deletes a disposition.",
        "operationId": "Dispositions_Delete_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the disposition to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Disposition was successfully deleted."
          },
          "404": {
            "description": "The specified disposition was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions/lead/{leadId}": {
      "get": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Gets dispositions for lead.",
        "operationId": "Dispositions_GetByLeadId_leadId",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The ID of the lead to get dispositions for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispositions were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DispositionResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions/lead/{leadId}/export": {
      "get": {
        "tags": [
          "Dispositions"
        ],
        "operationId": "Dispositions_ExportByLeadId_leadId",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispositionExportResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/e2e/auth/login": {
      "post": {
        "tags": [
          "E2E"
        ],
        "operationId": "E2E_Login_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/E2ELoginRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/E2ELoginRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/E2ELoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/E2ELoginResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/E2ELoginResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/E2ELoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/e2e/reset": {
      "post": {
        "tags": [
          "E2E"
        ],
        "operationId": "E2E_Reset_NoParams",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/e2e/seed": {
      "post": {
        "tags": [
          "E2E"
        ],
        "operationId": "E2E_Seed_NoParams",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/e2e/health": {
      "get": {
        "tags": [
          "E2E"
        ],
        "operationId": "E2E_Health_NoParams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/E2EHealthResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/E2EHealthResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/E2EHealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "Health_Get_NoParams",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/leads": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Creates a lead externally.",
        "operationId": "Leads_CreateExternal_request_X-Leadping-Source-Id_X-Leadping-Source-Key",
        "parameters": [
          {
            "name": "X-Leadping-Source-Id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Leadping-Source-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The lead data submitted by the external system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "404": {
            "description": "A related resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/intake": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Creates a lead externally using a flat, source-authenticated intake payload.",
        "operationId": "Leads_CreateIntake_request_X-Leadping-Source-Id_X-Leadping-Source-Key",
        "parameters": [
          {
            "name": "X-Leadping-Source-Id",
            "in": "header",
            "description": "The Leadping source id supplied in the X-Leadping-Source-Id header.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Leadping-Source-Key",
            "in": "header",
            "description": "The source API key supplied in the X-Leadping-Source-Key header.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The common lead fields submitted by the external system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadIntakeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Gets a lead by ID for current user.",
        "operationId": "Leads_GetForCurrentUser_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The user does not own this lead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Updates a lead.",
        "operationId": "Leads_Update_id_request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated lead data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Deletes a lead.",
        "operationId": "Leads_Delete_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Lead was successfully deleted."
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/all/my": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Gets all leads for current user.",
        "operationId": "Leads_GetAllForCurrentUser_options",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Leads were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadTableRowPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed."
          }
        }
      }
    },
    "/notifications/me": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Gets notifications for current user.",
        "operationId": "Notifications_GetAllForCurrentUser_options",
        "requestBody": {
          "description": "Request data options for pagination, filtering, and sorting.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationTableRowPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/unread-count": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Gets unread notification count.",
        "operationId": "Notifications_GetUnreadCount_NoParams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{id}/mark-read": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Marks notification as read.",
        "operationId": "Notifications_MarkAsRead_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the notification to mark as read.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/mark-all-read": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Marks all notifications as read.",
        "operationId": "Notifications_MarkAllAsRead_NoParams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/announcements": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Gets announcements.",
        "operationId": "Notifications_GetAnnouncements_options",
        "requestBody": {
          "description": "Request data options for pagination, filtering, and sorting.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationTableRowPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/payment-methods/{id}": {
      "get": {
        "tags": [
          "PaymentMethods"
        ],
        "summary": "Gets a payment method.",
        "operationId": "PaymentMethods_Get_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the payment method to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment method was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripePaymentMethodResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified payment method was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PaymentMethods"
        ],
        "summary": "Deletes a payment method.",
        "operationId": "PaymentMethods_Delete_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the payment method to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Payment method was successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "The specified payment method was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/sources": {
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "Creates a source.",
        "operationId": "Sources_Create_request",
        "requestBody": {
          "description": "The source data to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Source was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/sources/{id}": {
      "put": {
        "tags": [
          "Sources"
        ],
        "summary": "Updates a source.",
        "operationId": "Sources_Update_id_request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated source data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Source was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified source was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Sources"
        ],
        "summary": "Gets a source.",
        "operationId": "Sources_Get_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified source was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sources"
        ],
        "summary": "Deletes a source.",
        "operationId": "Sources_Delete_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Source was successfully deleted."
          },
          "404": {
            "description": "The specified source was not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/sources/all/my": {
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "Gets all sources for current user.",
        "operationId": "Sources_GetAllForCurrentUser_options",
        "requestBody": {
          "description": "Pagination, filtering, and sorting options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sources were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceTableRowPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed."
          }
        }
      }
    },
    "/sources/all/business/{businessId}": {
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "Gets all sources for business.",
        "operationId": "Sources_GetAllForBusiness_businessId_options",
        "parameters": [
          {
            "name": "businessId",
            "in": "path",
            "description": "The ID of the business.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Pagination, filtering, and sorting options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sources were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceTableRowPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed."
          }
        }
      }
    },
    "/suppressions": {
      "post": {
        "tags": [
          "Suppressions"
        ],
        "operationId": "Suppressions_Suppress_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionEntryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/suppressions/release": {
      "post": {
        "tags": [
          "Suppressions"
        ],
        "operationId": "Suppressions_Release_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/suppressions/check": {
      "post": {
        "tags": [
          "Suppressions"
        ],
        "operationId": "Suppressions_Check_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionCheckResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Gets a transaction by ID for current user.",
        "operationId": "Transactions_GetForCurrentUser_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the transaction to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified transaction was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The user does not own this transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/all/my": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Gets all transactions for current user.",
        "operationId": "Transactions_GetAllForCurrentUser_options",
        "requestBody": {
          "description": "Pagination, filtering, and sorting options.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transactions were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionTableRowPagedResult"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed."
          }
        }
      }
    },
    "/usage/all/my": {
      "post": {
        "tags": [
          "Usage"
        ],
        "operationId": "Usage_GetAllForCurrentBusiness_options",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageLedgerTableRowPagedResult"
                }
              }
            }
          }
        }
      }
    },
    "/usage/summary/my": {
      "get": {
        "tags": [
          "Usage"
        ],
        "operationId": "Usage_GetSummaryForCurrentBusiness_periodStart_periodEnd",
        "parameters": [
          {
            "name": "periodStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "periodEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/paymentmethod": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets current user's payment method.",
        "operationId": "Users_GetPaymentMethodForCurrentUser_NoParams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripePaymentMethodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets current user's info.",
        "operationId": "Users_GetForCurrentUser_NoParams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Updates current user's info.",
        "operationId": "Users_UpdateForCurrentUser_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/users/change-billing-plan": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Changes billing plan.",
        "operationId": "Users_ChangeBillingPlan_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBillingPlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/users/compliance": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Updates compliance info.",
        "operationId": "Users_UpdateCompliance_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComplianceUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AcceptBusinessInvitationRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ActivationDomainOption": {
        "type": "object",
        "properties": {
          "domainName": {
            "type": "string",
            "nullable": true
          },
          "whyItFits": {
            "type": "string",
            "nullable": true
          },
          "industryRelevance": {
            "type": "string",
            "nullable": true
          },
          "trustConcerns": {
            "type": "string",
            "nullable": true
          },
          "estimatedAnnualCost": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "availabilityStatus": {
            "type": "string",
            "nullable": true
          },
          "recommended": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ActivationLaunchReviewStatus": {
        "enum": [
          "NotReady",
          "Pending",
          "Approved",
          "NotRequired",
          "Blocked"
        ],
        "type": "string",
        "additionalProperties": false
      },
      "ActivationOnboardingStatus": {
        "enum": [
          "Draft",
          "Submitted",
          "Failed"
        ],
        "type": "string",
        "additionalProperties": false
      },
      "ActivationPaymentStatus": {
        "enum": [
          "PaymentMethodPending",
          "PaymentMethodConfirmed",
          "Failed"
        ],
        "type": "string",
        "additionalProperties": false
      },
      "ActivationSubscriptionStatus": {
        "enum": [
          "Pending",
          "Active",
          "Failed",
          "Canceled"
        ],
        "type": "string",
        "additionalProperties": false
      },
      "ActivationTelephonyStatus": {
        "enum": [
          "NotStarted",
          "ProvisioningPending",
          "PartiallyProvisioned",
          "Ready",
          "Failed",
          "BlockedRequiresOperatorAction"
        ],
        "type": "string",
        "additionalProperties": false
      },
      "ActivationTimelineEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "details": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "actorId": {
            "type": "string",
            "nullable": true
          },
          "actorName": {
            "type": "string",
            "nullable": true
          },
          "failureReason": {
            "type": "string",
            "nullable": true
          },
          "actionUrl": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "ActivityDetailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "activityType": {
            "$ref": "#/components/schemas/ActivityType"
          },
          "activityCategory": {
            "type": "string",
            "nullable": true
          },
          "conversationId": {
            "type": "string",
            "nullable": true
          },
          "leadId": {
            "type": "string",
            "nullable": true
          },
          "user": {
            "$ref": "#/components/schemas/IdNamePair"
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "direction": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/ActivityStatus"
          },
          "fullPayload": {
            "type": "string",
            "description": "The full activity payload as JSON string for generic display",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ActivityStatus": {
        "enum": [
          "Pending",
          "InProgress",
          "Completed",
          "Failed",
          "Cancelled"
        ],
        "type": "string",
        "additionalProperties": false
      },
      "ActivityTableRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the activity.",
            "nullable": true
          },
          "activityType": {
            "$ref": "#/components/schemas/ActivityType"
          },
          "activityCategory": {
            "type": "string",
            "description": "The category of activity.",
            "nullable": true
          },
          "conversationId": {
            "type": "string",
            "description": "The conversation ID.",
            "nullable": true
          },
          "leadId": {
            "type": "string",
            "description": "The lead ID.",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "description": "Summary of the activity.",
            "nullable": true
          },
          "direction": {
            "type": "string",
            "description": "The direction of the activity.",
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/ActivityTimelineStatus"
          },
          "statusReason": {
            "type": "string",
            "nullable": true
          },
          "isWarmup": {
            "type": "boolean"
          },
          "trafficType": {
            "$ref": "#/components/schemas/SmsTrafficType"
          },
          "scheduledFor": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "scheduledReason": {
            "type": "string",
            "nullable": true
          },
          "canceledAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "cancelReason": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "When the activity was created.",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "description": "Who created the activity.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents an activity row for data table display with pagination support."
      },
      "ActivityTableRowPagedResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityTableRow"
            },
            "nullable": true
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "totalCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "continuationToken": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ActivityTimelineStatus": {
        "enum": [
          "Pending",
          "InProgress",
          "Completed",
          "Cancelled",
          "Scheduled",
          "Queued",
          "Sending",
          "Sent",
          "Received",
          "Delivered",
          "Undeliverable",
          "OptedOut",
          "Blocked",
          "Initiated",
          "Ringing",
          "Active",
          "Ended",
          "Missed",
          "Voicemail",
          "Failed",
          "Canceled"
        ],
        "type": "string",
        "additionalProperties": false
      },
      "ActivityType": {
        "enum": [
          "Message",
          "Sms",
          "Mms",
          "Call",
          "Voicemail",
          "Note",
          "LeadCreated",
          "LeadUpdated",
          "Notification",
          "Payment"
        ],
        "type": "string",
        "additionalProperties": false
      },
      "BillableUnit": {
        "enum": [
          "SmsSegment",
          "MmsMessage",
          "EmailMessage",
          "VoiceMinute",
          "PhoneNumberMonth",
          "WarmupSmsSegment",
          "WarmupVoiceMinute",
          "WebsiteSetup",
          "DomainRegistration",
          "TenDlcApplication",
          "IntegrationAction",
          "AutomationRun"
        ],
        "type": "string",
        "additionalProperties": false
      },
      "BillingPlan": {
        "enum": [
          "Annual",
          "Monthly"
        ],
        "type": "string",
        "additionalProperties": false
      },
      "BusinessActivationState": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/CustomerActivationStatus"
          },
          "onboardingStatus": {
            "$ref": "#/components/schemas/ActivationOnboardingStatus"
          },
          "paymentStatus": {
            "$ref": "#/components/schemas/ActivationPaymentStatus"
          },
          "billingSubscriptionStatus": {
            "$ref": "#/components/schemas/ActivationSubscriptionStatus"
          },
          "launchReviewStatus": {
            "$ref": "#/components/schemas/ActivationLaunchReviewStatus"
          },
          "controlledLaunch": {
            "type": "boolean"
          },
          "telephonyStatus": {
            "$ref": "#/components/schemas/ActivationTelephonyStatus"
          },
          "websiteStatus": {
            "$ref": "#/components/schemas/WebsiteLifecycleStatus"
          },
          "tenDlcStatus": {
            "$ref": "#/components/schemas/TenDlcApplicationStatus"
          },
          "customerFacingStatus": {
            "type": "string",
            "nullable": true
          },
          "nextAdminAction": {
            "type": "string",
            "nullable": true
          },
          "needsAdminReview": {
            "type": "boolean"
          },
          "requiresOperatorAction": {
            "type": "boolean"
          },
          "paymentMethodProviderId": {
            "type": "string",
            "nullable": true
          },
          "paymentSetupIntentId": {
            "type": "string",
            "nullable": true
          },
          "paymentMethodConfirmedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "subscriptionProviderId": {
            "type": "string",
            "nullable": true
          },
          "subscriptionInvoiceId": {
            "type": "string",
            "nullable": true
          },
          "subscriptionPendingAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "subscriptionActiveAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "launchReviewRequestedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "launchApprovedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "telephonyProvisioningStartedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "telephonyPartiallyProvisionedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "telephonyReadyAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "telephonyRetryCount": {
            "type": "integer",
            "format": "int32"
          },
          "telephonyLastAttemptAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "telephonyFailureStep": {
            "type": "string",
            "nullable": true
          },
          "telephonyFailureReason": {
            "type": "string",
            "nullable": true
          },
          "telephonyProviderCorrelationId": {
            "type": "string",
            "nullable": true
          },
          "lastProviderError": {
            "type": "string",
            "nullable": true
          },
          "failureReason": {
            "type": "string",
            "nullable": true
          },
          "failedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "activatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completedTransitionKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "telephonyProvisioningSteps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TelephonyProvisioningStepState"
            },
            "nullable": true
          },
          "industry": {
            "type": "string",
            "nullable": true
          },
          "businessDescription": {
            "type": "string",
            "nullable": true
          },
          "targetAudience": {
            "type": "string",
            "nullable": true
          },
          "offer": {
            "type": "string",
            "nullable": true
          },
          "websiteNeeds": {
            "type": "string",
            "nullable": true
          },
          "serviceArea": {
            "type": "string",
            "nullable": true
          },
          "complianceNotes": {
            "type": "string",
            "nullable": true
          },
          "domainOptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivationDomainOption"
            },
            "nullable": true
          },
          "selectedDomain": {
            "type": "string",
            "nullable": true
          },
          "domainApprovedBy": {
            "type": "string",
            "nullable": true
          },
          "domainApprovedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "domainPurchaseProvider": {
            "type": "string",
            "nullable": true
          },
          "domainPurchaseResult": {
            "type": "string",
            "nullable": true
          },
          "domainPurchaseError": {
            "type": "string",
            "nullable": true
          },
          "websiteUrl": {
            "type": "string",
            "nullable": true
          },
          "deploymentUrl": {
            "type": "string",
            "nullable": true
          },
          "cloudflareProjectId": {
            "type": "string",
            "nullable": true
          },
          "cloudflareZoneId": {
            "type": "string",
            "nullable": true
          },
          "websiteFailureReason": {
            "type": "string",
            "nullable": true
          },
          "manualBypassReason": {
            "type": "string",
            "nullable": true
          },
          "tenDlcDraft": {
            "$ref": "#/components/schemas/TenDlcApplicationDraft"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivationTimelineEvent"
            },
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BusinessCompliancePolicy": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "allowedStates": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "allowedProducts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "requireLeadState": {
            "type": "boolean"
          },
          "requireAgentLicenseState": {
            "type": "boolean"
          },
          "requireProduct": {
            "type": "boolean"
          },
          "requireTrustedFormForAutomations": {
            "type": "boolean"
          },
          "requireSourceComplianceApproval": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "BusinessInvitationRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "$ref": "#/components/schemas/BusinessUserRole"
          }
        },
        "additionalProperties": false
      },
      "BusinessInvitationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "businessId": {
            "type": "string",
            "nullable": true
          },
          "businessName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "$ref": "#/components/schemas/BusinessUserRole"
          },
          "status": {
            "$ref": "#/components/schemas/BusinessInvitationStatus"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "resentAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "acceptedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "revokedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "sendFailureReason": {
            "type": "string",
            "nullable": true
          },
          "inviteUrl": {
            "type": "string",
            "nullable": true
          },
          "token": {
            "type": "string",
            "nullable": true
          },
          "emailDeliveryMode": {
            "type": "string",
            "nullable": true
          },
          "safeMessage": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BusinessInvitationStatus": {
        "enum": [
          "Pending",
          "Accepted",
          "Expired",
          "Revoked",
          "Resent",
          "FailedToSend"
        ],
        "type": "string",
        "additionalProperties": false
      },
      "BusinessInvitationTableRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "businessId": {
            "type": "string",
            "nullable": true
          },
          "businessName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "$ref": "#/components/schemas/BusinessUserRole"
          },
          "status": {
            "$ref": "#/components/schemas/BusinessInvitationStatus"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "sentAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "resentAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "acceptedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "revokedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "sendFailureReason": {
            "type": "string",
            "nullable": true
          },
          "inviteUrl": {
[...]
