{
  "openapi": "3.1.1",
  "info": {
    "title": "Leadping API",
    "description": "The Leadping API helps businesses capture and manage leads, automate follow-up, send SMS and MMS messages, place calls, track conversations, enforce contact suppression, and analyze communication workflows. Use this OpenAPI 3.1 contract to integrate lead sources, build organization tools, or generate a typed API client. Authenticate protected operations with a Leadping user access token or WorkOS organization API key. Lead intake operations also accept a Leadping source key.",
    "termsOfService": "https://leadping.ai/docs/terms-of-service",
    "contact": {
      "name": "Leadping Support",
      "url": "https://leadping.ai/contact",
      "email": "support@leadping.ai"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1",
    "summary": "Lead management, messaging, calling, and automation API"
  },
  "servers": [
    {
      "url": "https://api.leadping.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/analytics/my": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get organization lead communication analytics",
        "description": "Returns current-organization analytics for lead communication, including event volume, response metrics, and date-range filtering.",
        "operationId": "Analytics_GetCurrentOrganization",
        "parameters": [
          {
            "name": "startAt",
            "in": "query",
            "description": "Optional inclusive start timestamp for the analytics period.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "description": "Optional exclusive end timestamp for the analytics period.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Optional number of recent days to include when explicit timestamps are not supplied.",
            "schema": {
              "type": [
                "null",
                "integer"
              ],
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CustomerAnalyticsResponse"
                    }
                  ],
                  "description": "Aggregates an organization's lead performance, response speed, communication usage, automation health, and activation insights."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/automations": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "Create an organization lead follow-up automation",
        "description": "Creates an automation for current-organization leads, configuring triggers, message steps, and follow-up behavior.",
        "operationId": "Automations_Create",
        "requestBody": {
          "description": "The automation request payload for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with automation configuration."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with automation configuration."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The automation response was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationResponse"
                    }
                  ],
                  "description": "Describes automation configuration data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/automations/{id}": {
      "put": {
        "tags": [
          "Automations"
        ],
        "summary": "Update an organization lead follow-up automation",
        "description": "Updates an automation for current-organization leads, changing triggers, message steps, routing, or active follow-up settings.",
        "operationId": "Automations_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the automation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The automation request payload for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with automation configuration."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with automation configuration."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the automation response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationResponse"
                    }
                  ],
                  "description": "Describes automation configuration data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Automations"
        ],
        "summary": "Get an organization lead follow-up automation",
        "description": "Returns one automation for the current organization, including trigger criteria, message steps, routing settings, and enabled state.",
        "operationId": "Automations_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the automation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the automation response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationResponse"
                    }
                  ],
                  "description": "Describes automation configuration data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Automations"
        ],
        "summary": "Delete an organization lead follow-up automation",
        "description": "Deletes an automation for the current organization so it no longer schedules follow-up or routing work for captured leads.",
        "operationId": "Automations_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the automation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the bool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/automations/{id}/runs": {
      "get": {
        "tags": [
          "Automations"
        ],
        "summary": "Gets recent persisted execution runs for an automation console.",
        "description": "Returns recent execution history for the specified automation in the current organization, including run state and console details.",
        "operationId": "Automations_GetRuns",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the automation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the automation execution history.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationConsoleResponse"
                    }
                  ],
                  "description": "Recent persisted execution runs for an automation console."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/automations/{id}/runs/{runId}": {
      "get": {
        "tags": [
          "Automations"
        ],
        "summary": "Gets one persisted automation execution run for its console.",
        "description": "Returns the specified persisted execution run for an automation in the current organization, including its current console state.",
        "operationId": "Automations_GetRun",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the automation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runId",
            "in": "path",
            "description": "The unique identifier of the persisted automation run.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested automation execution run.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationConsoleResponse"
                    }
                  ],
                  "description": "Recent persisted execution runs for an automation console."
                }
              }
            }
          },
          "404": {
            "description": "The automation or execution run was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/automations/all/my": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "List organization lead follow-up automations",
        "description": "Lists current-user automations with paging, sorting, and filters for reviewing follow-up workflows and ownership.",
        "operationId": "Automations_GetAllForCurrentUser",
        "requestBody": {
          "description": "The filtering, sorting, and pagination options.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Defines cursor pagination, sorting, search, exact-match filters, and range filters for a structured API query."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Defines cursor pagination, sorting, search, exact-match filters, and range filters for a structured API query."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged automation table row.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfAutomationTableRow"
                    }
                  ],
                  "description": "Returns one page of query results together with page-size, optional total-count, and opaque continuation-cursor metadata."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/automations/preview": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "Preview a lead follow-up automation",
        "description": "Previews automation execution for a sample lead, showing matched steps and messages without creating follow-up events.",
        "operationId": "Automations_Preview",
        "requestBody": {
          "description": "The automation preview request payload for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationPreviewRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with automation preview."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationPreviewRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with automation preview."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the automation preview response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationPreviewResponse"
                    }
                  ],
                  "description": "Describes automation preview data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/automations/{id}/run": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "Runs an automation through its Manual trigger.",
        "description": "Starts the specified automation through its manual trigger and returns the newly created execution record.",
        "operationId": "Automations_RunManual",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the automation to run.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the newly created automation execution record.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationRunRecord"
                    }
                  ],
                  "description": "History record schema for Leadping API automation run record data exposed in automation and audit views."
                }
              }
            }
          },
          "400": {
            "description": "The automation cannot be run with its current configuration or state.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user is not allowed to run this automation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "headers": {
              "WWW-Authenticate": {
                "description": "Bearer authentication challenge returned when credentials are missing or invalid.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/contact": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Submit a public contact request to support",
        "description": "Submits a public contact request to Leadping support, capturing sender details and message content without requiring authentication.",
        "operationId": "Contact_Submit",
        "requestBody": {
          "description": "The contact form data to submit.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with contact form."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with contact form."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Contact form was successfully submitted.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ContactResponse"
                    }
                  ],
                  "description": "Describes contact form data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [ ]
      }
    },
    "/contact/website": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Submit a generated-website contact request",
        "description": "Delivers the inquiry to the generated website's provisioned support address, then redirects the visitor to the site's confirmation state.",
        "operationId": "Contact_SubmitWebsite",
        "requestBody": {
          "description": "Honeypot field that must remain empty for legitimate submissions.",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "Name": {
                    "maxLength": 200,
                    "type": "string"
                  },
                  "Email": {
                    "maxLength": 320,
                    "type": "string"
                  },
                  "Phone": {
                    "maxLength": 50,
                    "type": "string"
                  },
                  "Message": {
                    "maxLength": 10000,
                    "type": "string"
                  },
                  "SmsConsent": {
                    "type": "boolean"
                  },
                  "ReturnUrl": {
                    "maxLength": 2048,
                    "type": "string"
                  },
                  "CompanyWebsite": {
                    "maxLength": 500,
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "303": {
            "description": "See Other"
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [ ]
      }
    },
    "/conversations/my": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "List current user's inbox conversations",
        "description": "Lists the current user's lead conversations with paging and sorting for inbox views, recent follow-up, and communication history.",
        "operationId": "Conversations_GetAllForCurrentUser",
        "parameters": [
          {
            "name": "archiveFilter",
            "in": "query",
            "description": "Optional filter selecting active, archived, or all lead conversations.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Pagination, filtering, and sorting options for the inbox.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Defines cursor pagination, sorting, search, exact-match filters, and range filters for a structured API query."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Defines cursor pagination, sorting, search, exact-match filters, and range filters for a structured API query."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Defines cursor pagination, sorting, search, exact-match filters, and range filters for a structured API query."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged conversation response.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "Returns one page of query results together with page-size, optional total-count, and opaque continuation-cursor metadata."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "Returns one page of query results together with page-size, optional total-count, and opaque continuation-cursor metadata."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "Returns one page of query results together with page-size, optional total-count, and opaque continuation-cursor metadata."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/conversations/lead/{leadId}": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "List inbox conversations for a lead",
        "description": "Lists conversations for one lead, helping users inspect communication threads, recent follow-up, and related events.",
        "operationId": "Conversations_GetConversationsByLead",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead ID to get conversations for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Pagination, filtering, and sorting options for the lead's conversations.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Defines cursor pagination, sorting, search, exact-match filters, and range filters for a structured API query."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Defines cursor pagination, sorting, search, exact-match filters, and range filters for a structured API query."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Defines cursor pagination, sorting, search, exact-match filters, and range filters for a structured API query."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged conversation response.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "Returns one page of query results together with page-size, optional total-count, and opaque continuation-cursor metadata."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "Returns one page of query results together with page-size, optional total-count, and opaque continuation-cursor metadata."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "Returns one page of query results together with page-size, optional total-count, and opaque continuation-cursor metadata."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/feedback": {
      "post": {
        "tags": [
          "Feedback"
        ],
        "summary": "Create product feedback for an organization",
        "description": "Creates product feedback for the current organization, capturing category, message, and context for operator review.",
        "operationId": "Feedback_Create",
        "requestBody": {
          "description": "The feedback category, message, and optional product context to submit.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FeedbackCreateRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with feedback creation."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FeedbackCreateRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with feedback creation."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FeedbackResponse"
                    }
                  ],
                  "description": "Describes feedback item data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/leads": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Create a lead record from an external source",
        "description": "Creates a source-authenticated lead captured outside Leadping, starting follow-up, routing, and automation from structured lead data.",
        "operationId": "Leads_CreateExternal",
        "requestBody": {
          "description": "The lead data submitted by the external system.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Lead was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "A related resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Source credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The source is not allowed to accept traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "SourceKey": [ ]
          }
        ]
      }
    },
    "/leads/intake": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Create a lead record from intake payload",
        "description": "Creates a source-authenticated lead from a flat intake payload, capturing contact fields, metadata, and automation-ready lead details.",
        "operationId": "Leads_CreateIntake",
        "requestBody": {
          "description": "The common lead fields submitted by the external system.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadIntakeRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead intake."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadIntakeRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead intake."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The lead response was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Source credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The source is not allowed to accept traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "SourceKey": [ ]
          }
        ]
      }
    },
    "/leads/{id}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get an organization lead record for current user",
        "description": "Returns one lead visible to the current user, including communication details, status, source, and follow-up context.",
        "operationId": "Leads_GetForCurrentUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "The user does not own this lead.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Update an organization lead record and status",
        "description": "Updates lead details for the current organization, keeping contact data, status, source, and follow-up context current.",
        "operationId": "Leads_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated lead data.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Lead was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Delete an organization lead record by ID",
        "description": "Marks a lead as deleted so it no longer appears in user-facing lead, conversation, routing, or event workflows. The stored lead,\nconversation, and event records are retained.",
        "operationId": "Leads_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Lead was successfully deleted."
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "429": {
            "description": "The API rate limit for this account or client has been exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying the request.",
                "schema": {
                  "minimum": 0,
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/leads/{id}/workflow-status": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get a lead automation workflow status",
        "description": "Returns automation workflow status for one lead, including active runs, paused state, and follow-up progress for the current organization.",
        "operationId": "Leads_GetWorkflowStatusForCurrentUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the lead whose workflow status to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationWorkflowStatusResponse"
                    }
                  ],
                  "description": "Automation workflow status collection for a lead."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user or organization does not have permission to perform this operation.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "allOf": [
                    {
[...]
