{
  "openapi": "3.0.4",
  "info": {
    "title": "leadping.Api",
    "description": "Leadping API",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.leadping.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "leadping.Api"
        ],
        "operationId": "leadping.Api__NoParams",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/conversations/my": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Gets conversations for the current user.",
        "operationId": "Conversations_GetAllForCurrentUser_requestDataOptions",
        "requestBody": {
          "description": "Cancellation token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/lead/{leadId}": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Gets conversations for a specific lead.",
        "operationId": "Conversations_GetConversationsByLead_leadId_requestDataOptions",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead ID to get conversations for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Cancellation token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions": {
      "post": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Creates a disposition.",
        "operationId": "Dispositions_Create_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispositionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DispositionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Disposition was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispositionResponse"
                }
              }
            }
          },
          "404": {
            "description": "A related resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions/{id}": {
      "put": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Updates a disposition.",
        "operationId": "Dispositions_Update_id_request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispositionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DispositionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispositionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Gets a disposition.",
        "operationId": "Dispositions_Get_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the disposition to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disposition was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispositionResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified disposition was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Deletes a disposition.",
        "operationId": "Dispositions_Delete_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the disposition to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Disposition was successfully deleted.",
            "content": {
              "application/json": { }
            }
          },
          "404": {
            "description": "The specified disposition was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions/lead/{leadId}": {
      "get": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Gets dispositions for lead.",
        "operationId": "Dispositions_GetByLeadId_leadId",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The ID of the lead to get dispositions for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispositions were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DispositionResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions/lead/{leadId}/export": {
      "get": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Handles export by lead ID.",
        "operationId": "Dispositions_ExportByLeadId_leadId",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispositionExportResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Gets.",
        "operationId": "Health_Get_NoParams",
        "responses": {
          "200": {
            "description": "An action result for the request."
          }
        }
      }
    },
    "/leads": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Creates a lead externally.",
        "operationId": "Leads_CreateExternal_request_X-Leadping-Source-Id_X-Leadping-Source-Key",
        "parameters": [
          {
            "name": "X-Leadping-Source-Id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Leadping-Source-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Lead was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "404": {
            "description": "A related resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/intake": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Creates a lead externally using a flat, source-authenticated intake payload.",
        "operationId": "Leads_CreateIntake_request_X-Leadping-Source-Id_X-Leadping-Source-Key",
        "parameters": [
          {
            "name": "X-Leadping-Source-Id",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Leadping-Source-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadIntakeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LeadIntakeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Gets a lead by ID for current user.",
        "operationId": "Leads_GetForCurrentUser_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The user does not own this lead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Updates a lead.",
        "operationId": "Leads_Update_id_request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Lead was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Deletes a lead.",
        "operationId": "Leads_Delete_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Lead was successfully deleted."
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/all/my": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Gets all leads for current user.",
        "operationId": "Leads_GetAllForCurrentUser_options",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Leads were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeadTableRow"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/me": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Gets notifications for current user.",
        "operationId": "Notifications_GetAllForCurrentUser_options",
        "requestBody": {
          "description": "Cancellation token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfNotificationTableRow"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/unread-count": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Gets unread notification count.",
        "operationId": "Notifications_GetUnreadCount_NoParams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{id}/mark-read": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Marks notification as read.",
        "operationId": "Notifications_MarkAsRead_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the notification to mark as read.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/mark-all-read": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Marks all notifications as read.",
        "operationId": "Notifications_MarkAllAsRead_NoParams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/announcements": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Gets announcements.",
        "operationId": "Notifications_GetAnnouncements_options",
        "requestBody": {
          "description": "Cancellation token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfNotificationTableRow"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/sources": {
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "Creates a source.",
        "operationId": "Sources_Create_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Source was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/sources/{id}": {
      "put": {
        "tags": [
          "Sources"
        ],
        "summary": "Updates a source.",
        "operationId": "Sources_Update_id_request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Source was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified source was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Sources"
        ],
        "summary": "Gets a source.",
        "operationId": "Sources_Get_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified source was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sources"
        ],
        "summary": "Deletes a source.",
        "operationId": "Sources_Delete_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Source was successfully deleted."
          },
          "404": {
            "description": "The specified source was not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/sources/all/my": {
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "Gets all sources for current user.",
        "operationId": "Sources_GetAllForCurrentUser_options",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sources were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSourceTableRow"
                }
              }
            }
          }
        }
      }
    },
    "/suppressions": {
      "post": {
        "tags": [
          "Suppressions"
        ],
        "summary": "Handles suppress.",
        "operationId": "Suppressions_Suppress_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionEntryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/suppressions/release": {
      "post": {
        "tags": [
          "Suppressions"
        ],
        "summary": "Handles release.",
        "operationId": "Suppressions_Release_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionEntryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/suppressions/check": {
      "post": {
        "tags": [
          "Suppressions"
        ],
        "summary": "Handles check.",
        "operationId": "Suppressions_Check_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionEntryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SuppressionEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressionCheckResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/paymentmethod": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets current user's payment method.",
        "operationId": "Users_GetPaymentMethodForCurrentUser_NoParams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripePaymentMethodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets current user's info.",
        "operationId": "Users_GetForCurrentUser_NoParams",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Updates current user's info.",
        "operationId": "Users_UpdateForCurrentUser_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/users/change-billing-plan": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Changes billing plan.",
        "operationId": "Users_ChangeBillingPlan_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBillingPlanRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBillingPlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/users/compliance": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Updates compliance info.",
        "operationId": "Users_UpdateCompliance_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComplianceUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ComplianceUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/payment-methods/{id}": {
      "get": {
        "tags": [
          "PaymentMethods"
        ],
        "summary": "Gets a payment method.",
        "operationId": "PaymentMethods_Get_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the payment method to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment method was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripePaymentMethodResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified payment method was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PaymentMethods"
        ],
        "summary": "Deletes a payment method.",
        "operationId": "PaymentMethods_Delete_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the payment method to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Payment method was successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "The specified payment method was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Gets a transaction by ID for current user.",
        "operationId": "Transactions_GetForCurrentUser_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the transaction to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified transaction was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The user does not own this transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/all/my": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Gets all transactions for current user.",
        "operationId": "Transactions_GetAllForCurrentUser_options",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transactions were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfTransactionTableRow"
                }
              }
            }
          }
        }
      }
    },
    "/usage/all/my": {
      "post": {
        "tags": [
          "Usage"
        ],
        "summary": "Gets all for current business.",
        "operationId": "Usage_GetAllForCurrentBusiness_options",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An action result for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfUsageLedgerTableRow"
                }
              }
            }
          }
        }
      }
    },
    "/usage/summary/my": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Gets summary for current business.",
        "operationId": "Usage_GetSummaryForCurrentBusiness_periodStart_periodEnd",
        "parameters": [
          {
            "name": "periodStart",
            "in": "query",
            "description": "The period start.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "periodEnd",
            "in": "query",
            "description": "The period end.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An action result for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Gets current user's business.",
        "operationId": "Businesses_GetForCurrentUser_NoParams",
        "responses": {
          "200": {
            "description": "Business was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified business was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Businesses"
        ],
        "summary": "Updates current user's business.",
        "operationId": "Businesses_UpdateForCurrentUser_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/options": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Gets switch options.",
        "operationId": "Businesses_GetSwitchOptions_NoParams",
        "responses": {
          "200": {
            "description": "An action result for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessSwitchOption"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/switch": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Handles switch current business.",
        "operationId": "Businesses_SwitchCurrentBusiness_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessSwitchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessSwitchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/users": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Gets current business users.",
        "operationId": "Businesses_GetCurrentBusinessUsers_NoParams",
        "responses": {
          "200": {
            "description": "An action result for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessUserTableRow"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Adds current business user.",
        "operationId": "Businesses_AddCurrentBusinessUser_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUserRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/users/{userId}": {
      "put": {
        "tags": [
          "Businesses"
        ],
        "summary": "Handles change current business user role.",
        "operationId": "Businesses_ChangeCurrentBusinessUserRole_userId_request",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUserRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Businesses"
        ],
        "summary": "Removes current business user.",
        "operationId": "Businesses_RemoveCurrentBusinessUser_userId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The user identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/invitations": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Gets current business invitations.",
        "operationId": "Businesses_GetCurrentBusinessInvitations_NoParams",
        "responses": {
          "200": {
            "description": "An action result for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessInvitationTableRow"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Creates current business invitation.",
        "operationId": "Businesses_CreateCurrentBusinessInvitation_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessInvitationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessInvitationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/invitations/{invitationId}/resend": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Handles resend current business invitation.",
        "operationId": "Businesses_ResendCurrentBusinessInvitation_invitationId",
        "parameters": [
          {
            "name": "invitationId",
            "in": "path",
            "description": "The invitation identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/invitations/{invitationId}": {
      "delete": {
        "tags": [
          "Businesses"
        ],
        "summary": "Handles revoke current business invitation.",
        "operationId": "Businesses_RevokeCurrentBusinessInvitation_invitationId",
        "parameters": [
          {
            "name": "invitationId",
            "in": "path",
            "description": "The invitation identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/invitations/token/{token}": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Gets invitation by token.",
        "operationId": "Businesses_GetInvitationByToken_token",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "The token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/invitations/accept": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Accepts invitation.",
        "operationId": "Businesses_AcceptInvitation_request",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptBusinessInvitationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptBusinessInvitationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/all/my": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets all activities for current user.",
        "operationId": "Activities_GetAllForCurrentUser_options",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Activities were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfActivityTableRow"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/conversations/{conversationId}": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets all activities for a conversation.",
        "operationId": "Activities_GetAllForConversation_conversationId_options",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "description": "The ID of the conversation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Activities for the conversation were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfActivityTableRow"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/leads/{leadId}": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets all activities for a lead.",
        "operationId": "Activities_GetAllForLead_leadId_options",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The ID of the lead.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Activities for the lead were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfActivityTableRow"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/{activityId}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets activity by ID.",
        "operationId": "Activities_GetById_activityId",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "The ID of the activity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTableRow"
                }
              }
            }
          },
          "404": {
            "description": "Activity was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/{activityId}/detail": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets activity details by ID.",
        "operationId": "Activities_GetDetailById_activityId",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "The ID of the activity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity details were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Activity was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/conversations/{conversationId}/notes": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Creates a note activity for a conversation.",
        "operationId": "Activities_CreateNote_conversationId_request",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "description": "The conversation identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTableRow"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AcceptBusinessInvitationRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Gets or sets the token."
          },
          "email": {
            "type": "string",
            "description": "Gets or sets the email.",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "description": "Gets or sets the first name.",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "description": "Gets or sets the last name.",
            "nullable": true
          }
        },
        "description": "Represents the Accept Business Invitation Request payload."
      },
      "ActivationDomainOption": {
        "type": "object",
        "properties": {
          "domainName": {
            "type": "string",
            "description": "Gets or sets the domain name."
          },
          "whyItFits": {
            "type": "string",
            "description": "Gets or sets the why it fits."
          },
          "industryRelevance": {
            "type": "string",
            "description": "Gets or sets the industry relevance."
          },
          "trustConcerns": {
            "type": "string",
            "description": "Gets or sets the trust concerns.",
            "nullable": true
          },
          "estimatedAnnualCost": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
            "description": "Gets or sets the estimated annual cost.",
            "format": "double",
            "nullable": true
          },
          "availabilityStatus": {
            "type": "string",
            "description": "Gets or sets the availability status."
          },
          "recommended": {
            "type": "boolean",
            "description": "Gets or sets the recommended."
          }
        },
        "description": "Represents an Activation Domain Option."
      },
      "ActivationLaunchReviewStatus": {
        "enum": [
          "NotReady",
          "Pending",
          "Approved",
          "NotRequired",
          "Blocked"
        ],
        "type": "string",
        "description": "Defines the supported Activation Launch Review Status values."
      },
      "ActivationOnboardingStatus": {
        "enum": [
          "Draft",
          "Submitted",
          "Failed"
        ],
        "type": "string",
        "description": "Defines the supported Activation Onboarding Status values."
      },
      "ActivationPaymentStatus": {
        "enum": [
          "PaymentMethodPending",
          "PaymentMethodConfirmed",
          "Failed"
        ],
        "type": "string",
        "description": "Defines the supported Activation Payment Status values."
      },
      "ActivationSubscriptionStatus": {
        "enum": [
          "Pending",
          "Active",
          "Failed",
          "Canceled"
        ],
        "type": "string",
        "description": "Defines the supported Activation Subscription Status values."
      },
      "ActivationTelephonyStatus": {
        "enum": [
          "NotStarted",
          "ProvisioningPending",
          "PartiallyProvisioned",
          "Ready",
          "Failed",
          "BlockedRequiresOperatorAction"
        ],
        "type": "string",
        "description": "Defines the supported Activation Telephony Status values."
      },
      "ActivationTimelineEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Gets or sets the identifier."
          },
          "type": {
            "type": "string",
            "description": "Gets or sets the type."
          },
          "title": {
            "type": "string",
            "description": "Gets or sets the title."
          },
          "details": {
            "type": "string",
            "description": "Gets or sets the details.",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "Gets or sets the status."
          },
          "actorName": {
            "type": "string",
            "description": "Gets or sets the actor name.",
            "nullable": true
          },
          "failureReason": {
            "type": "string",
            "description": "Gets or sets the failure reason.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "Gets or sets when created.",
            "format": "date-time"
          }
        },
        "description": "Represents an Activation Timeline Event."
      },
      "ActivityDetailResponse": {
        "type": "object",
        "properties": {
          "activityType": {
            "$ref": "#/components/schemas/ActivityType"
          },
          "activityCategory": {
            "type": "string",
            "description": "Gets or sets the activity category."
          },
          "conversationId": {
            "type": "string",
            "description": "Gets or sets the conversation identifier.",
            "nullable": true
          },
          "leadId": {
            "type": "string",
            "description": "Gets or sets the lead identifier.",
            "nullable": true
          },
          "user": {
            "$ref": "#/components/schemas/IdNamePair"
          },
          "summary": {
            "type": "string",
            "description": "Gets or sets the summary.",
            "nullable": true
          },
          "direction": {
            "type": "string",
            "description": "Gets or sets the direction.",
            "nullable": true
          },
          "status": {
            "oneOf": [
              {
                "type": "object",
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ActivityStatus"
              }
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "description": "Represents the Activity Detail Response returned by the API."
      },
      "ActivityStatus": {
        "enum": [
          "Pending",
          "InProgress",
          "Completed",
          "Failed",
          "Cancelled"
        ],
        "type": "string",
        "description": "Defines the supported Activity Status values."
      },
      "ActivityTableRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the activity."
          },
          "activityType": {
            "$ref": "#/components/schemas/ActivityType"
          },
          "activityCategory": {
            "type": "string",
            "description": "The category of activity."
          },
          "conversationId": {
            "type": "string",
            "description": "The conversation ID.",
            "nullable": true
          },
          "leadId": {
            "type": "string",
            "description": "The lead ID.",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "description": "Summary of the activity.",
            "nullable": true
          },
          "direction": {
            "type": "string",
            "description": "The direction of the activity.",
            "nullable": true
          },
          "status": {
            "oneOf": [
              {
                "type": "object",
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ActivityTimelineStatus"
              }
            ]
          },
          "statusReason": {
            "type": "string",
            "description": "Gets or sets the status reason.",
            "nullable": true
          },
          "isWarmup": {
            "type": "boolean",
            "description": "Gets or sets whether it is warmup."
          },
          "trafficType": {
            "oneOf": [
              {
                "type": "object",
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/SmsTrafficType"
              }
            ]
          },
          "scheduledFor": {
            "type": "string",
            "description": "Gets or sets the scheduled for.",
            "format": "date-time",
            "nullable": true
          },
          "scheduledReason": {
            "type": "string",
            "description": "Gets or sets the scheduled reason.",
            "nullable": true
          },
          "canceledAt": {
            "type": "string",
            "description": "Gets or sets when canceled.",
            "format": "date-time",
            "nullable": true
          },
          "cancelReason": {
            "type": "string",
            "description": "Gets or sets the cancel reason.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "When the activity was created.",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "description": "Who created the activity."
          }
        },
        "description": "Represents an activity row for data table display with pagination support."
      },
      "ActivityTimelineStatus": {
        "enum": [
          "Pending",
          "InProgress",
          "Completed",
          "Cancelled",
          "Scheduled",
          "Queued",
          "Sending",
          "Sent",
          "Received",
          "Delivered",
          "Undeliverable",
          "Opted out",
          "Blocked",
          "Initiated",
          "Ringing",
          "Active",
          "Ended",
          "Missed",
          "Voicemail",
          "Failed",
          "Canceled"
        ],
        "type": "string",
        "description": "Defines the supported Activity Timeline Status values."
      },
      "ActivityType": {
        "enum": [
          "Message",
          "Sms",
          "Mms",
          "Call",
          "Voicemail",
          "Note",
          "LeadCreated",
          "LeadUpdated",
          "Notification",
          "Payment"
        ],
        "type": "string",
        "description": "Defines the supported Activity Type values."
      },
      "BillableUnit": {
        "enum": [
          "sms_segment",
          "mms_message",
          "email_message",
          "voice_minute",
          "phone_number_month",
          "warmup_sms_segment",
          "warmup_voice_minute",
          "website_setup",
          "domain_registration",
          "10dlc_application",
          "integration_action",
          "automation_run"
        ],
        "type": "string",
        "description": "Defines the supported Billable Unit values."
      },
      "BillingPlan": {
        "enum": [
          "Annual",
          "Monthly"
        ],
        "type": "string",
        "description": "Defines the supported Billing Plan values."
      },
      "BusinessActivationState": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/CustomerActivationStatus"
          },
          "onboardingStatus": {
            "$ref": "#/components/schemas/ActivationOnboardingStatus"
          },
          "paymentStatus": {
            "$ref": "#/components/schemas/ActivationPaymentStatus"
          },
          "billingSubscriptionStatus": {
            "$ref": "#/components/schemas/ActivationSubscriptionStatus"
          },
          "launchReviewStatus": {
            "$ref": "#/components/schemas/ActivationLaunchReviewStatus"
          },
          "controlledLaunch": {
            "type": "boolean",
            "description": "Gets or sets the controlled launch."
          },
          "telephonyStatus": {
            "$ref": "#/components/schemas/ActivationTelephonyStatus"
          },
          "websiteStatus": {
            "$ref": "#/components/schemas/WebsiteLifecycleStatus"
          },
          "tenDlcStatus": {
            "$ref": "#/components/schemas/TenDlcApplicationStatus"
          },
          "customerFacingStatus": {
            "type": "string",
            "description": "Gets or sets the customer facing status."
          },
          "paymentMethodConfirmedAt": {
            "type": "string",
            "description": "Gets or sets when payment method confirmed.",
            "format": "date-time",
            "nullable": true
          },
          "subscriptionPendingAt": {
            "type": "string",
            "description": "Gets or sets when subscription pending.",
            "format": "date-time",
            "nullable": true
          },
          "subscriptionActiveAt": {
            "type": "string",
            "description": "Gets or sets when subscription active.",
            "format": "date-time",
            "nullable": true
          },
          "launchReviewRequestedAt": {
            "type": "string",
            "description": "Gets or sets when launch review requested.",
            "format": "date-time",
            "nullable": true
          },
          "launchApprovedAt": {
            "type": "string",
            "description": "Gets or sets when launch approved.",
            "format": "date-time",
            "nullable": true
          },
          "telephonyProvisioningStartedAt": {
            "type": "string",
            "description": "Gets or sets when telephony provisioning started.",
            "format": "date-time",
            "nullable": true
          },
          "telephonyPartiallyProvisionedAt": {
            "type": "string",
            "description": "Gets or sets when telephony partially provisioned.",
            "format": "date-time",
            "nullable": true
          },
          "telephonyReadyAt": {
            "type": "string",
            "description": "Gets or sets when telephony ready.",
            "format": "date-time",
            "nullable": true
          },
          "failedAt": {
            "type": "string",
            "description": "Gets or sets when failed.",
            "format": "date-time",
            "nullable": true
          },
          "activatedAt": {
            "type": "string",
            "description": "Gets or sets when activated.",
            "format": "date-time",
            "nullable": true
          },
          "industry": {
            "type": "string",
            "description": "Gets or sets the industry.",
            "nullable": true
          },
          "businessDescription": {
            "type": "string",
            "description": "Gets or sets the business description.",
            "nullable": true
          },
          "targetAudience": {
            "type": "string",
            "description": "Gets or sets the target audience.",
            "nullable": true
          },
          "offer": {
            "type": "string",
            "description": "Gets or sets the offer.",
            "nullable": true
          },
          "websiteNeeds": {
            "type": "string",
            "description": "Gets or sets the website needs.",
            "nullable": true
          },
          "serviceArea": {
            "type": "string",
            "description": "Gets or sets the service area.",
            "nullable": true
          },
          "complianceNotes": {
            "type": "string",
            "description": "Gets or sets the compliance notes.",
            "nullable": true
          },
          "domainOptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivationDomainOption"
            },
            "description": "Gets or sets the domain options."
          },
          "selectedDomain": {
            "type": "string",
            "description": "Gets or sets the selected domain.",
            "nullable": true
          },
          "domainApprovedAt": {
            "type": "string",
            "description": "Gets or sets when domain approved.",
            "format": "date-time",
            "nullable": true
          },
          "websiteUrl": {
            "type": "string",
            "description": "Gets or sets the website URL.",
            "nullable": true
          },
          "tenDlcDraft": {
            "oneOf": [
              {
                "type": "object",
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/TenDlcApplicationDraft"
              }
            ]
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivationTimelineEvent"
            },
            "description": "Gets or sets the events."
          },
          "createdAt": {
            "type": "string",
            "description": "Gets or sets when created.",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "description": "Gets or sets when updated.",
            "format": "date-time"
          }
        },
        "description": "Represents a Business Activation State."
      },
      "BusinessCompliancePolicy": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Gets or sets whether enabled."
          },
          "allowedStates": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Gets or sets the allowed states."
          },
          "allowedProducts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Gets or sets the allowed products."
          },
          "requireLeadState": {
            "type": "boolean",
            "description": "Gets or sets the require lead state."
          },
          "requireAgentLicenseState": {
            "type": "boolean",
            "description": "Gets or sets the require agent license state."
          },
          "requireProduct": {
            "type": "boolean",
            "description": "Gets or sets the require product."
          },
          "requireTrustedFormForAutomations": {
            "type": "boolean",
            "description": "Gets or sets the require trusted form for automations."
          },
          "requireSourceComplianceApproval": {
            "type": "boolean",
            "description": "Gets or sets the require source compliance approval."
          }
        },
        "description": "Represents a Business Compliance Policy."
      },
      "BusinessInvitationRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Gets or sets the email."
          },
          "role": {
            "$ref": "#/components/schemas/BusinessUserRole"
          }
        },
[...]
