{
  "openapi": "3.0.4",
  "info": {
    "title": "Leadping API",
    "description": "Leadping API",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.leadping.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/analytics/my": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get business lead communication analytics",
        "description": "Returns current-business analytics for lead communication, including activity volume, response metrics, and date-range filtering.",
        "operationId": "Analytics_GetCurrentBusiness",
        "parameters": [
          {
            "name": "startAt",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "days",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/automations": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "Create a business lead follow-up automation",
        "description": "Creates an automation for current-business leads, configuring triggers, message steps, and follow-up behavior.",
        "operationId": "Automations_Create",
        "requestBody": {
          "description": "The automation request payload for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationRequest"
                  }
                ],
                "description": "Request payload for automation."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationRequest"
                  }
                ],
                "description": "Request payload for automation."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The automation response was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationResponse"
                    }
                  ],
                  "description": "API response containing automation data returned to callers."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/automations/{id}": {
      "put": {
        "tags": [
          "Automations"
        ],
        "summary": "Update a business lead follow-up automation",
        "description": "Updates an automation for current-business leads, changing triggers, message steps, routing, or active follow-up settings.",
        "operationId": "Automations_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the automation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The automation request payload for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationRequest"
                  }
                ],
                "description": "Request payload for automation."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationRequest"
                  }
                ],
                "description": "Request payload for automation."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the automation response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationResponse"
                    }
                  ],
                  "description": "API response containing automation data returned to callers."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Automations"
        ],
        "summary": "Get a business lead follow-up automation",
        "description": "Returns one automation for the current business, including trigger criteria, message steps, routing settings, and enabled state.",
        "operationId": "Automations_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the automation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the automation response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationResponse"
                    }
                  ],
                  "description": "API response containing automation data returned to callers."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Automations"
        ],
        "summary": "Delete a business lead follow-up automation",
        "description": "Deletes an automation for the current business so it no longer schedules follow-up or routing work for captured leads.",
        "operationId": "Automations_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the automation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the bool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/automations/all/my": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "List business lead follow-up automations",
        "description": "Lists current-user automations with paging, sorting, and filters for reviewing follow-up workflows and ownership.",
        "operationId": "Automations_GetAllForCurrentUser",
        "requestBody": {
          "description": "The filtering, sorting, and pagination options.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged automation table row.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfAutomationTableRow"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/automations/preview": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "Preview a lead follow-up automation",
        "description": "Previews automation execution for a sample lead, showing matched steps and messages without creating follow-up activity.",
        "operationId": "Automations_Preview",
        "requestBody": {
          "description": "The automation preview request payload for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationPreviewRequest"
                  }
                ],
                "description": "API DTO containing automation preview data used by Leadping API contracts."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationPreviewRequest"
                  }
                ],
                "description": "API DTO containing automation preview data used by Leadping API contracts."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the automation preview response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationPreviewResponse"
                    }
                  ],
                  "description": "API DTO containing automation preview response data."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/contact": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Submit a public contact request to support",
        "description": "Submits a public contact request to Leadping support, capturing sender details and message content without requiring authentication.",
        "operationId": "Contact_Submit",
        "requestBody": {
          "description": "The contact form data to submit.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactRequest"
                  }
                ],
                "description": "Request model for submitting a contact form."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactRequest"
                  }
                ],
                "description": "Request model for submitting a contact form."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Contact form was successfully submitted.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ContactResponse"
                    }
                  ],
                  "description": "Response model for contact form submissions."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/my": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "List current user's inbox conversations",
        "description": "Lists the current user's lead conversations with paging and sorting for inbox views, recent follow-up, and communication history.",
        "operationId": "Conversations_GetAllForCurrentUser",
        "parameters": [
          {
            "name": "archiveFilter",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LeadArchiveFilter"
                }
              ],
              "description": "Controls whether lead queries return active, archived, or all leads."
            }
          }
        ],
        "requestBody": {
          "description": "Cancellation token.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged conversation response.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/lead/{leadId}": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "List inbox conversations for a lead",
        "description": "Lists conversations for one lead, helping users inspect communication threads, recent follow-up, and related activity.",
        "operationId": "Conversations_GetConversationsByLead",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead ID to get conversations for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Cancellation token.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged conversation response.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions": {
      "post": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Set the current lead disposition",
        "description": "Sets a lead's current structured outcome while recording the disposition change in history for audit, automation, and reporting.",
        "operationId": "Dispositions_Create",
        "requestBody": {
          "description": "The disposition data to create.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DispositionRequest"
                  }
                ],
                "description": "Request model for creating or updating a disposition."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DispositionRequest"
                  }
                ],
                "description": "Request model for creating or updating a disposition."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Disposition was successfully updated and recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DispositionResponse"
                    }
                  ],
                  "description": "Response model for disposition data."
                }
              }
            }
          },
          "404": {
            "description": "A related resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions/{id}": {
      "put": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Update a lead disposition history entry",
        "description": "Updates a disposition history entry and, when it is the current entry, updates the lead's current disposition.",
        "operationId": "Dispositions_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the disposition.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The disposition request payload for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DispositionRequest"
                  }
                ],
                "description": "Request model for creating or updating a disposition."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DispositionRequest"
                  }
                ],
                "description": "Request model for creating or updating a disposition."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the disposition response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DispositionResponse"
                    }
                  ],
                  "description": "Response model for disposition data."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Get a lead disposition outcome record",
        "description": "Returns one disposition record so users can review a lead outcome, related notes, and follow-up context.",
        "operationId": "Dispositions_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the disposition to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disposition was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DispositionResponse"
                    }
                  ],
                  "description": "Response model for disposition data."
                }
              }
            }
          },
          "404": {
            "description": "The specified disposition was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Delete a lead disposition outcome record",
        "description": "Deletes a disposition from a lead when the outcome record should no longer appear in activity or reporting views.",
        "operationId": "Dispositions_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the disposition to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Disposition was successfully deleted.",
            "content": {
              "application/json": { }
            }
          },
          "404": {
            "description": "The specified disposition was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions/lead/{leadId}": {
      "get": {
        "tags": [
          "Dispositions"
        ],
        "summary": "List lead disposition outcome history",
        "description": "Lists disposition history for one lead so users can review outcomes, notes, and follow-up context.",
        "operationId": "Dispositions_GetByLeadId",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The ID of the lead to get dispositions for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispositions were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/DispositionResponse"
                      }
                    ],
                    "description": "Response model for disposition data."
                  }
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions/lead/{leadId}/export": {
      "get": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Export lead disposition outcome history",
        "description": "Exports disposition data for one lead, packaging outcome history for reporting, audit review, or handoff workflows.",
        "operationId": "Dispositions_ExportByLeadId",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the disposition export response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DispositionExportResponse"
                    }
                  ],
                  "description": "API response containing disposition export data returned to callers."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/feedback": {
      "post": {
        "tags": [
          "Feedback"
        ],
        "summary": "Create product feedback for a business",
        "description": "Creates product feedback for the current business, capturing category, message, and context for operator review.",
        "operationId": "Feedback_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FeedbackCreateRequest"
                  }
                ],
                "description": "User-facing request for product feedback capture."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FeedbackCreateRequest"
                  }
                ],
                "description": "User-facing request for product feedback capture."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FeedbackResponse"
                    }
                  ],
                  "description": "Feedback item returned to admins and submitters."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/feedback/admin": {
      "get": {
        "tags": [
          "Feedback"
        ],
        "summary": "List product feedback for admin triage",
        "description": "Lists submitted feedback for admin triage with query filters, paging, status, and category review fields.",
        "operationId": "Feedback_GetAllForAdmin",
        "parameters": [
          {
            "name": "Status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BusinessId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Area",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CreatedStart",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedEnd",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "format": "int32"
            }
          },
          {
            "name": "ContinuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfFeedbackResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              }
            }
          }
        }
      }
    },
    "/feedback/admin/{id}": {
      "get": {
        "tags": [
          "Feedback"
        ],
        "summary": "Get product feedback for admin triage",
        "description": "Returns one feedback item for admin triage, including business context, submitted details, status, and review fields.",
        "operationId": "Feedback_GetForAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FeedbackResponse"
                    }
                  ],
                  "description": "Feedback item returned to admins and submitters."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Feedback"
        ],
        "summary": "Update product feedback triage fields",
        "description": "Updates admin triage fields on a feedback item, such as status, priority, notes, or reviewed metadata.",
        "operationId": "Feedback_UpdateForAdmin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FeedbackAdminUpdateRequest"
                  }
                ],
                "description": "Admin triage update request for product feedback."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FeedbackAdminUpdateRequest"
                  }
                ],
                "description": "Admin triage update request for product feedback."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FeedbackResponse"
                    }
                  ],
                  "description": "Feedback item returned to admins and submitters."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Create a lead record from an external source",
        "description": "Creates a source-authenticated lead captured outside Leadping, starting follow-up, routing, and automation from structured lead data.",
        "operationId": "Leads_CreateExternal",
        "parameters": [
          {
            "name": "sourceId",
            "in": "query",
            "description": "The Leadping source id supplied as a query string parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "The source API key supplied as a query string parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The lead data submitted by the external system.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadRequest"
                  }
                ],
                "description": "Request payload for lead."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadRequest"
                  }
                ],
                "description": "Request payload for lead."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Lead was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "API response containing lead data returned to callers."
                }
              }
            }
          },
          "404": {
            "description": "A related resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Source credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The source is not allowed to accept traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/intake": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Create a lead record from intake payload",
        "description": "Creates a source-authenticated lead from a flat intake payload, capturing contact fields, metadata, and automation-ready lead details.",
        "operationId": "Leads_CreateIntake",
        "parameters": [
          {
            "name": "sourceId",
            "in": "query",
            "description": "The Leadping source id supplied as a query string parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "The source API key supplied as a query string parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The common lead fields submitted by the external system.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadIntakeRequest"
                  }
                ],
                "description": "Request payload for lead intake."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadIntakeRequest"
                  }
                ],
                "description": "Request payload for lead intake."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The lead response was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "API response containing lead data returned to callers."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Source credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The source is not allowed to accept traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Create a lead record from query intake",
        "description": "Creates a source-authenticated lead from query parameters, supporting simple form posts, tracking metadata, and follow-up automation.",
        "operationId": "Leads_CreateIntakeFromQuery",
        "parameters": [
          {
            "name": "FirstName",
            "in": "query",
            "description": "The first name value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LastName",
            "in": "query",
            "description": "The date and time for the last name value on this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email",
            "in": "query",
            "description": "The email address associated with this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone",
            "in": "query",
            "description": "The phone number associated with this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PhoneType",
            "in": "query",
            "description": "The phone type classification for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DateOfBirth",
            "in": "query",
            "description": "The date and time for the date of birth value on this lead intake.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "BirthDate",
            "in": "query",
            "description": "The date and time for the birth date value on this lead intake.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "Address1",
            "in": "query",
            "description": "The address1 value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Address2",
            "in": "query",
            "description": "The address2 value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "The city value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "State",
            "in": "query",
            "description": "The current state for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Zip",
            "in": "query",
            "description": "The zip value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "The postal code value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Gender",
            "in": "query",
            "description": "The gender value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SubId",
            "in": "query",
            "description": "The sub ID associated with this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SellerLeadId",
            "in": "query",
            "description": "The seller lead ID associated with this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SellerLeadIdentifier",
            "in": "query",
            "description": "The seller lead identifier value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DirectPostPrice",
            "in": "query",
            "description": "The direct post price value for this lead intake.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
              "format": "double"
            }
          },
          {
            "name": "Price",
            "in": "query",
            "description": "The monetary price for this lead intake.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
              "format": "double"
            }
          },
          {
            "name": "UtmSource",
            "in": "query",
            "description": "The utm source value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UtmMedium",
            "in": "query",
            "description": "The utm medium value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UtmCampaign",
            "in": "query",
            "description": "The utm campaign value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UtmTerm",
            "in": "query",
            "description": "The utm term value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UtmContent",
            "in": "query",
            "description": "The utm content value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Product",
            "in": "query",
            "description": "The product value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Vertical",
            "in": "query",
            "description": "The vertical value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Referrer",
            "in": "query",
            "description": "The referrer value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LandingPage",
            "in": "query",
            "description": "The landing page value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TrustedFormUrl",
            "in": "query",
            "description": "The URL associated with this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalId",
            "in": "query",
            "description": "The external ID associated with this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SourceMetadata",
            "in": "query",
            "description": "The source metadata key-value data carried with this lead intake; values must be safe to expose in API responses.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "TagIds",
            "in": "query",
            "description": "Existing business tag ids to assign as part of intake.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "TagNames",
            "in": "query",
            "description": "Business tag names to assign as part of intake.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sourceId",
            "in": "query",
            "description": "The Leadping source id supplied as a query string parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "The source API key supplied as a query string parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The lead response was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "API response containing lead data returned to callers."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Source credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The source is not allowed to accept traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get a business lead record for current user",
        "description": "Returns one lead visible to the current user, including communication details, status, source, and follow-up context.",
        "operationId": "Leads_GetForCurrentUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "API response containing lead data returned to callers."
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The user does not own this lead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Update a business lead record and status",
        "description": "Updates lead details for the current business, keeping contact data, status, source, and follow-up context current.",
        "operationId": "Leads_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated lead data.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadRequest"
                  }
                ],
                "description": "Request payload for lead."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadRequest"
                  }
                ],
                "description": "Request payload for lead."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Lead was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "API response containing lead data returned to callers."
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Delete a business lead record by ID",
        "description": "Deletes a lead from the current business when it should no longer appear in communication, routing, or activity workflows.",
        "operationId": "Leads_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Lead was successfully deleted."
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}/workflow-status": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get a lead automation workflow status",
        "description": "Returns automation workflow status for one lead, including active runs, paused state, and follow-up progress for the current business.",
        "operationId": "Leads_GetWorkflowStatusForCurrentUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationWorkflowStatusResponse"
                    }
                  ],
                  "description": "Automation workflow status collection for a lead."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}/archive": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Archive a business lead record by ID",
        "description": "Archives a lead without deleting history, removing it from active pipeline views while preserving communication and activity records.",
        "operationId": "Leads_Archive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadArchiveRequest"
                  }
                ],
                "description": "Request payload for archiving a lead without deleting its history.",
                "nullable": true
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadArchiveRequest"
                  }
                ],
                "description": "Request payload for archiving a lead without deleting its history.",
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "API response containing lead data returned to callers."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}/unarchive": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Unarchive a business lead record by ID",
        "description": "Restores an archived lead to active pipeline views so follow-up, communication, and routing workflows can resume.",
        "operationId": "Leads_Unarchive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "API response containing lead data returned to callers."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/all/my": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "List business lead records for current user",
        "description": "Lists leads visible to the current user with paging, sorting, filters, tags, and archive status for pipeline review.",
        "operationId": "Leads_GetAllForCurrentUser",
        "parameters": [
          {
            "name": "tagIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "tagMatchAll",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "untagged",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "archiveFilter",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LeadArchiveFilter"
                }
              ],
              "description": "Controls whether lead queries return active, archived, or all leads."
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Leads were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfLeadTableRow"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}/tags": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Add business tags to a lead record by ID",
        "description": "Adds one or more current-business tags to a lead so users can segment, filter, route, and review follow-up work.",
        "operationId": "Leads_AddTags",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadTagsRequest"
                  }
                ],
                "description": "Request payload for adding or replacing tags on a lead."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadTagsRequest"
                  }
                ],
                "description": "Request payload for adding or replacing tags on a lead."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "API response containing lead data returned to callers."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Replace business tags on a lead record",
        "description": "Replaces all tags on a lead with the supplied current-business tags, keeping segmentation and routing labels in sync.",
        "operationId": "Leads_ReplaceTags",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadTagsRequest"
                  }
                ],
                "description": "Request payload for adding or replacing tags on a lead."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadTagsRequest"
                  }
                ],
                "description": "Request payload for adding or replacing tags on a lead."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "API response containing lead data returned to callers."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}/tags/{tagId}": {
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Remove a business tag from a lead record",
        "description": "Removes one current-business tag from a lead while leaving the lead record, other tags, and communication history intact.",
        "operationId": "Leads_RemoveTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "API response containing lead data returned to callers."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "API response containing lead data returned to callers."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "API response containing lead data returned to callers."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/me": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "List notifications for current user",
        "description": "Lists current-user notifications with paging, sorting, and filters for operational alerts, announcements, and follow-up updates.",
        "operationId": "Notifications_GetAllForCurrentUser",
        "requestBody": {
          "description": "Request data options for pagination, filtering, and sorting.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged notification table row.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfNotificationTableRow"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/unread-count": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Get unread notifications for current user",
        "description": "Returns the current user's unread notification count for badge updates and notification center state.",
        "operationId": "Notifications_GetUnreadCount",
        "responses": {
          "200": {
            "description": "Returns the int.",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{id}/mark-read": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark a current-user notification as read",
        "description": "Marks one current-user notification as read so it no longer contributes to unread counts or active notification lists.",
        "operationId": "Notifications_MarkAsRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the notification to mark as read.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the bool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/mark-all-read": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Mark all current-user notifications as read",
        "description": "Marks all notifications for the current user as read and returns the number updated for notification center refreshes.",
        "operationId": "Notifications_MarkAllAsRead",
        "responses": {
          "200": {
            "description": "Returns the int.",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/announcements": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "List announcements for current user",
        "description": "Lists announcement notifications for the current user with paging and filters for release notes, notices, and operational updates.",
        "operationId": "Notifications_GetAnnouncements",
        "requestBody": {
          "description": "Request data options for pagination, filtering, and sorting.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged notification table row.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfNotificationTableRow"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/outbound/overview": {
      "get": {
        "tags": [
          "OutboundDelivery"
        ],
        "summary": "Get business outbound delivery overview",
        "description": "Returns current-business outbound capacity, scheduled work, and pacing decisions used to control lead communication delivery.",
        "operationId": "OutboundDelivery_GetCurrentBusinessOverview",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutboundCapacityOverview"
                }
              }
            }
          }
        }
      }
    },
    "/sources": {
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "Create a business lead intake source",
        "description": "Creates a lead source for the current business, storing intake credentials and routing context for captured external leads.",
        "operationId": "Sources_Create",
        "requestBody": {
          "description": "The source data to create.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SourceRequest"
                  }
                ],
                "description": "Request payload for source."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SourceRequest"
                  }
                ],
                "description": "Request payload for source."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Source was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SourceResponse"
                    }
                  ],
                  "description": "API response containing source data returned to callers."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/sources/{id}": {
      "put": {
        "tags": [
          "Sources"
        ],
        "summary": "Update a business lead intake source",
        "description": "Updates a lead source for the current business, changing intake settings, credentials, routing context, or active status.",
        "operationId": "Sources_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated source data.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SourceRequest"
                  }
                ],
                "description": "Request payload for source."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SourceRequest"
                  }
                ],
                "description": "Request payload for source."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Source was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SourceResponse"
                    }
                  ],
                  "description": "API response containing source data returned to callers."
                }
              }
            }
          },
          "404": {
            "description": "The specified source was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Sources"
        ],
        "summary": "Get a business lead intake source by ID",
        "description": "Returns one lead source for the current business, including intake settings, credentials metadata, and routing context.",
        "operationId": "Sources_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SourceResponse"
                    }
                  ],
                  "description": "API response containing source data returned to callers."
                }
              }
            }
          },
          "404": {
            "description": "The specified source was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sources"
        ],
        "summary": "Delete a business lead intake source",
        "description": "Deletes a lead source from the current business so it can no longer accept or route newly captured leads.",
        "operationId": "Sources_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Source was successfully deleted."
          },
          "404": {
            "description": "The specified source was not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/sources/all/my": {
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "List business lead intake sources for user",
        "description": "Lists current-user lead sources with paging, sorting, and filters for intake configuration and routing review.",
        "operationId": "Sources_GetAllForCurrentUser",
        "requestBody": {
          "description": "Pagination, filtering, and sorting options.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sources were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfSourceTableRow"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "List business lead segmentation tags",
        "description": "Lists tags for the current business, optionally including archived tags, for lead segmentation, filters, and routing labels.",
        "operationId": "Tags_GetAllForCurrentBusiness",
        "parameters": [
          {
            "name": "includeArchived",
[...]
