{
  "openapi": "3.0.4",
  "info": {
    "title": "Leadping API",
    "description": "Leadping API for lead intake, messaging, calling, automations, billing, organization settings, and compliant lead communication workflows.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.leadping.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/analytics/my": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get organization lead communication analytics",
        "description": "Returns current-organization analytics for lead communication, including event volume, response metrics, and date-range filtering.",
        "operationId": "Analytics_GetCurrentOrganization",
        "parameters": [
          {
            "name": "startAt",
            "in": "query",
            "description": "Optional inclusive start timestamp for the analytics period.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endAt",
            "in": "query",
            "description": "Optional exclusive end timestamp for the analytics period.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Optional number of recent days to include when explicit timestamps are not supplied.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CustomerAnalyticsResponse"
                    }
                  ],
                  "description": "Response model containing customer analytics data returned by the Leadping API."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/automations": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "Create an organization lead follow-up automation",
        "description": "Creates an automation for current-organization leads, configuring triggers, message steps, and follow-up behavior.",
        "operationId": "Automations_Create",
        "requestBody": {
          "description": "The automation request payload for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with automation configuration."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with automation configuration."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The automation response was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationResponse"
                    }
                  ],
                  "description": "Describes automation configuration data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/automations/{id}": {
      "put": {
        "tags": [
          "Automations"
        ],
        "summary": "Update an organization lead follow-up automation",
        "description": "Updates an automation for current-organization leads, changing triggers, message steps, routing, or active follow-up settings.",
        "operationId": "Automations_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the automation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The automation request payload for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with automation configuration."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with automation configuration."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the automation response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationResponse"
                    }
                  ],
                  "description": "Describes automation configuration data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Automations"
        ],
        "summary": "Get an organization lead follow-up automation",
        "description": "Returns one automation for the current organization, including trigger criteria, message steps, routing settings, and enabled state.",
        "operationId": "Automations_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the automation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the automation response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationResponse"
                    }
                  ],
                  "description": "Describes automation configuration data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Automations"
        ],
        "summary": "Delete an organization lead follow-up automation",
        "description": "Deletes an automation for the current organization so it no longer schedules follow-up or routing work for captured leads.",
        "operationId": "Automations_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the automation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the bool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/automations/all/my": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "List organization lead follow-up automations",
        "description": "Lists current-user automations with paging, sorting, and filters for reviewing follow-up workflows and ownership.",
        "operationId": "Automations_GetAllForCurrentUser",
        "requestBody": {
          "description": "The filtering, sorting, and pagination options.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged automation table row.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfAutomationTableRow"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/automations/preview": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "Preview a lead follow-up automation",
        "description": "Previews automation execution for a sample lead, showing matched steps and messages without creating follow-up events.",
        "operationId": "Automations_Preview",
        "requestBody": {
          "description": "The automation preview request payload for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationPreviewRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with automation preview."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AutomationPreviewRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with automation preview."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the automation preview response.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationPreviewResponse"
                    }
                  ],
                  "description": "Describes automation preview data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/contact": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Submit a public contact request to support",
        "description": "Submits a public contact request to Leadping support, capturing sender details and message content without requiring authentication.",
        "operationId": "Contact_Submit",
        "requestBody": {
          "description": "The contact form data to submit.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with contact form."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContactRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with contact form."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Contact form was successfully submitted.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ContactResponse"
                    }
                  ],
                  "description": "Describes contact form data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/contact/website": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Submit a generated-website contact request",
        "description": "Delivers the inquiry to the generated website's provisioned support address, then redirects the visitor to the site's confirmation state.",
        "operationId": "Contact_SubmitWebsite",
        "requestBody": {
          "description": "Honeypot field that must remain empty for legitimate submissions.",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "Name": {
                    "maxLength": 200,
                    "type": "string"
                  },
                  "Email": {
                    "maxLength": 320,
                    "type": "string"
                  },
                  "Phone": {
                    "maxLength": 50,
                    "type": "string"
                  },
                  "Message": {
                    "maxLength": 10000,
                    "type": "string"
                  },
                  "SmsConsent": {
                    "type": "boolean"
                  },
                  "ReturnUrl": {
                    "maxLength": 2048,
                    "type": "string"
                  },
                  "CompanyWebsite": {
                    "maxLength": 500,
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "303": {
            "description": "See Other"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/conversations/my": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "List current user's inbox conversations",
        "description": "Lists the current user's lead conversations with paging and sorting for inbox views, recent follow-up, and communication history.",
        "operationId": "Conversations_GetAllForCurrentUser",
        "parameters": [
          {
            "name": "archiveFilter",
            "in": "query",
            "description": "Optional filter selecting active, archived, or all lead conversations.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Pagination, filtering, and sorting options for the inbox.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged conversation response.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/conversations/lead/{leadId}": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "List inbox conversations for a lead",
        "description": "Lists conversations for one lead, helping users inspect communication threads, recent follow-up, and related events.",
        "operationId": "Conversations_GetConversationsByLead",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead ID to get conversations for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Pagination, filtering, and sorting options for the lead's conversations.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged conversation response.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/feedback": {
      "post": {
        "tags": [
          "Feedback"
        ],
        "summary": "Create product feedback for an organization",
        "description": "Creates product feedback for the current organization, capturing category, message, and context for operator review.",
        "operationId": "Feedback_Create",
        "requestBody": {
          "description": "The feedback category, message, and optional product context to submit.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FeedbackCreateRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with feedback creation."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FeedbackCreateRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with feedback creation."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/FeedbackResponse"
                    }
                  ],
                  "description": "Describes feedback item data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/leads": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Create a lead record from an external source",
        "description": "Creates a source-authenticated lead captured outside Leadping, starting follow-up, routing, and automation from structured lead data.",
        "operationId": "Leads_CreateExternal",
        "parameters": [
          {
            "name": "sourceKey",
            "in": "query",
            "description": "The Leadping source key supplied as a query string parameter, or omitted when supplied as Authorization: Bearer lp_src_...",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The lead data submitted by the external system.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Lead was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "A related resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Source credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The source is not allowed to accept traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          { },
          { }
        ]
      }
    },
    "/leads/intake": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Create a lead record from intake payload",
        "description": "Creates a source-authenticated lead from a flat intake payload, capturing contact fields, metadata, and automation-ready lead details.",
        "operationId": "Leads_CreateIntake",
        "parameters": [
          {
            "name": "sourceKey",
            "in": "query",
            "description": "The Leadping source key supplied as a query string parameter, or omitted when supplied as Authorization: Bearer lp_src_...",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The common lead fields submitted by the external system.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadIntakeRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead intake."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadIntakeRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead intake."
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The lead response was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Source credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The source is not allowed to accept traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          { },
          { }
        ]
      },
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Create a lead record from query intake",
        "description": "Creates a source-authenticated lead from query parameters, supporting simple form posts, tracking metadata, and follow-up automation.",
        "operationId": "Leads_CreateIntakeFromQuery",
        "parameters": [
          {
            "name": "FirstName",
            "in": "query",
            "description": "First name of the lead, user, or contact represented by this lead intake request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LastName",
            "in": "query",
            "description": "Last name of the lead, user, or contact represented by this lead intake request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email",
            "in": "query",
            "description": "Email address for the person represented by this lead intake request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone",
            "in": "query",
            "description": "Phone details for the lead, user, or organization represented by this lead intake request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PhoneType",
            "in": "query",
            "description": "Source-provided phone type, such as mobile, landline, or VoIP, used during lead intake normalization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DateOfBirth",
            "in": "query",
            "description": "Lead date of birth supplied by intake sources and normalized into the lead profile.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "BirthDate",
            "in": "query",
            "description": "Lead birth date used for demographic matching and insurance intake workflows.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "Address1",
            "in": "query",
            "description": "First street address line submitted by the lead intake source.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Address2",
            "in": "query",
            "description": "Second street address line submitted by the lead intake source.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "City for the lead or organization postal address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "State",
            "in": "query",
            "description": "State, province, or region for the lead or organization postal address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Zip",
            "in": "query",
            "description": "ZIP code submitted by the lead intake source.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "Postal code for the lead or organization address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Gender",
            "in": "query",
            "description": "Lead gender supplied by intake sources and normalized when possible.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SubId",
            "in": "query",
            "description": "Affiliate or publisher sub ID captured for lead attribution.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SellerLeadId",
            "in": "query",
            "description": "Seller-provided lead identifier used to deduplicate and reconcile lead delivery.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SellerLeadIdentifier",
            "in": "query",
            "description": "Alternate seller-provided lead identifier used during intake normalization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DirectPostPrice",
            "in": "query",
            "description": "Direct-post price supplied by the lead source during intake.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
              "format": "double"
            }
          },
          {
            "name": "Price",
            "in": "query",
            "description": "Lead price or transaction price supplied to the Leadping API.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
              "format": "double"
            }
          },
          {
            "name": "UtmSource",
            "in": "query",
            "description": "UTM source parameter captured for lead attribution reporting.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UtmMedium",
            "in": "query",
            "description": "UTM medium parameter captured for lead attribution reporting.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UtmCampaign",
            "in": "query",
            "description": "UTM campaign parameter captured for lead attribution reporting.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UtmTerm",
            "in": "query",
            "description": "UTM term parameter captured for lead attribution reporting.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UtmContent",
            "in": "query",
            "description": "UTM content parameter captured for lead attribution reporting.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Product",
            "in": "query",
            "description": "Product or offer associated with the lead or source.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Vertical",
            "in": "query",
            "description": "Industry vertical used for lead routing, compliance review, and reporting.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Referrer",
            "in": "query",
            "description": "Referring page or traffic source that sent the lead into Leadping.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LandingPage",
            "in": "query",
            "description": "Landing page URL where the lead submitted their information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TrustedFormUrl",
            "in": "query",
            "description": "TrustedForm certificate URL used as proof of consumer consent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalId",
            "in": "query",
            "description": "External system identifier used to reconcile this lead intake request across integrations.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SourceMetadata",
            "in": "query",
            "description": "Source-provided key-value metadata retained for lead attribution and integration troubleshooting.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "TagIds",
            "in": "query",
            "description": "Tag IDs assigned to or filtered against this lead.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "TagNames",
            "in": "query",
            "description": "Tag names assigned to this lead when matching existing tags by name.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sourceKey",
            "in": "query",
            "description": "The Leadping source key supplied as a query string parameter, or omitted when supplied as Authorization: Bearer lp_src_...",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The lead response was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Source credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "403": {
            "description": "The source is not allowed to accept traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        },
        "security": [
          { },
          { }
        ]
      }
    },
    "/leads/{id}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get an organization lead record for current user",
        "description": "Returns one lead visible to the current user, including communication details, status, source, and follow-up context.",
        "operationId": "Leads_GetForCurrentUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "The user does not own this lead.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Update an organization lead record and status",
        "description": "Updates lead details for the current organization, keeping contact data, status, source, and follow-up context current.",
        "operationId": "Leads_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated lead data.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Lead was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Delete an organization lead record by ID",
        "description": "Deletes a lead from the current organization when it should no longer appear in communication, routing, or event workflows.",
        "operationId": "Leads_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Lead was successfully deleted."
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}/workflow-status": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get a lead automation workflow status",
        "description": "Returns automation workflow status for one lead, including active runs, paused state, and follow-up progress for the current organization.",
        "operationId": "Leads_GetWorkflowStatusForCurrentUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the lead whose workflow status to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AutomationWorkflowStatusResponse"
                    }
                  ],
                  "description": "Automation workflow status collection for a lead."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}/archive": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Archive an organization lead record by ID",
        "description": "Archives a lead without deleting history, removing it from active pipeline views while preserving communication and event records.",
        "operationId": "Leads_Archive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the lead to archive.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional archive reason and related audit context.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadArchiveRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead archive.",
                "nullable": true
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadArchiveRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead archive.",
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}/unarchive": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Unarchive an organization lead record by ID",
        "description": "Restores an archived lead to active pipeline views so follow-up, communication, and routing workflows can resume.",
        "operationId": "Leads_Unarchive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the archived lead to restore.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/leads/all/my": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "List organization lead records for current user",
        "description": "Lists leads visible to the current user with paging, sorting, filters, tags, and archive status for pipeline review.",
        "operationId": "Leads_GetAllForCurrentUser",
        "parameters": [
          {
            "name": "tagIds",
            "in": "query",
            "description": "Optional tag identifiers used to filter the lead list.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "tagMatchAll",
            "in": "query",
            "description": "Whether a lead must contain every supplied tag instead of any supplied tag.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "untagged",
            "in": "query",
            "description": "Whether to include only leads that have no tags.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "archiveFilter",
            "in": "query",
            "description": "Optional filter selecting active, archived, or all leads.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Pagination, filtering, and sorting options for lead records.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RequestDataOptions"
                  }
                ],
                "description": "Options for flexible, efficient, and explicit querying in Cosmos DB or similar repositories."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Leads were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResultOfLeadTableRow"
                    }
                  ],
                  "description": "A generic container for paginated results returned to the client."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}/tags": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Add organization tags to a lead record by ID",
        "description": "Adds one or more current-organization tags to a lead so users can segment, filter, route, and review follow-up work.",
        "operationId": "Leads_AddTags",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the lead to tag.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The organization tag identifiers to add to the lead.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadTagsRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead tag update."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadTagsRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead tag update."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Replace organization tags on a lead record",
        "description": "Replaces all tags on a lead with the supplied current-organization tags, keeping segmentation and routing labels in sync.",
        "operationId": "Leads_ReplaceTags",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the lead whose tags to replace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The complete replacement set of organization tag identifiers.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadTagsRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead tag update."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadTagsRequest"
                  }
                ],
                "description": "Defines the fields clients can send when working with lead tag update."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}/tags/{tagId}": {
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Remove an organization tag from a lead record",
        "description": "Removes one current-organization tag from a lead while leaving the lead record, other tags, and communication history intact.",
        "operationId": "Leads_RemoveTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the lead to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "The unique identifier of the organization tag to remove.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadResponse"
                    }
                  ],
                  "description": "Describes lead data returned by Leadping."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              },
              "text/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/leads/{leadId}/status": {
      "put": {
        "tags": [
          "LeadStatusChanges"
        ],
        "summary": "Set a lead's current status",
        "description": "Sets the lead's current structured status and records the change for audit, automation, and reporting.",
        "operationId": "LeadStatusChanges_SetCurrent",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The new status and related workflow data.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadStatusChangeRequest"
                  }
                ],
                "description": "Request model for creating or updating a lead status change."
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LeadStatusChangeRequest"
                  }
                ],
                "description": "Request model for creating or updating a lead status change."
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The lead status was successfully updated and recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/LeadStatusChangeResponse"
                    }
                  ],
                  "description": "Response model for lead status change data."
                }
              }
            }
          },
          "404": {
            "description": "A related resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ],
                  "description": "Standard problem-details response containing machine-readable and human-readable information about an HTTP API error."
                }
              }
            }
          }
        }
      }
    },
    "/lead-status-changes/{id}": {
      "put": {
        "tags": [
          "LeadStatusChanges"
        ],
        "summary": "Update a lead status history entry",
        "description": "Updates a lead status history entry and, when it is current, updates the lead's current status.",
        "operationId": "LeadStatusChanges_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
[...]
