{
  "openapi": "3.0.4",
  "info": {
    "title": "Leadping API",
    "description": "Leadping API",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.leadping.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/conversations/my": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Gets conversations for the current user.",
        "operationId": "Conversations_GetAllForCurrentUser",
        "requestBody": {
          "description": "Cancellation token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged conversation response.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/lead/{leadId}": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Gets conversations for a specific lead.",
        "operationId": "Conversations_GetConversationsByLead",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead ID to get conversations for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Cancellation token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged conversation response.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfConversationResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions": {
      "post": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Creates a disposition.",
        "operationId": "Dispositions_Create",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispositionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DispositionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Disposition was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispositionResponse"
                }
              }
            }
          },
          "404": {
            "description": "A related resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions/{id}": {
      "put": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Updates a disposition.",
        "operationId": "Dispositions_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the disposition.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispositionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DispositionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the disposition response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispositionResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Gets a disposition.",
        "operationId": "Dispositions_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the disposition to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disposition was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispositionResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified disposition was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Deletes a disposition.",
        "operationId": "Dispositions_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the disposition to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Disposition was successfully deleted.",
            "content": {
              "application/json": { }
            }
          },
          "404": {
            "description": "The specified disposition was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions/lead/{leadId}": {
      "get": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Gets dispositions for lead.",
        "operationId": "Dispositions_GetByLeadId",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The ID of the lead to get dispositions for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispositions were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DispositionResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/dispositions/lead/{leadId}/export": {
      "get": {
        "tags": [
          "Dispositions"
        ],
        "summary": "Handles export by lead ID.",
        "operationId": "Dispositions_ExportByLeadId",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The lead identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the disposition export response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispositionExportResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Creates a lead externally.",
        "operationId": "Leads_CreateExternal",
        "parameters": [
          {
            "name": "sourceId",
            "in": "query",
            "description": "The Leadping source id supplied as a query string parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "The source API key supplied as a query string parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Lead was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "404": {
            "description": "A related resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Source credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The source is not allowed to accept traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/intake": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Creates a lead externally using a flat, source-authenticated intake payload.",
        "operationId": "Leads_CreateIntake",
        "parameters": [
          {
            "name": "sourceId",
            "in": "query",
            "description": "The Leadping source id supplied as a query string parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "The source API key supplied as a query string parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadIntakeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LeadIntakeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The lead response was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Source credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The source is not allowed to accept traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Creates a lead externally using flat query string intake parameters.",
        "operationId": "Leads_CreateIntakeFromQuery",
        "parameters": [
          {
            "name": "FirstName",
            "in": "query",
            "description": "The first name value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LastName",
            "in": "query",
            "description": "The date and time for the last name value on this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email",
            "in": "query",
            "description": "The email address associated with this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone",
            "in": "query",
            "description": "The phone number associated with this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PhoneType",
            "in": "query",
            "description": "The phone type classification for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DateOfBirth",
            "in": "query",
            "description": "The date and time for the date of birth value on this lead intake.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "BirthDate",
            "in": "query",
            "description": "The date and time for the birth date value on this lead intake.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "Address1",
            "in": "query",
            "description": "The address1 value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Address2",
            "in": "query",
            "description": "The address2 value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "City",
            "in": "query",
            "description": "The city value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "State",
            "in": "query",
            "description": "The current state for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Zip",
            "in": "query",
            "description": "The zip value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PostalCode",
            "in": "query",
            "description": "The postal code value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Gender",
            "in": "query",
            "description": "The gender value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SubId",
            "in": "query",
            "description": "The sub ID associated with this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SellerLeadId",
            "in": "query",
            "description": "The seller lead ID associated with this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SellerLeadIdentifier",
            "in": "query",
            "description": "The seller lead identifier value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DirectPostPrice",
            "in": "query",
            "description": "The direct post price value for this lead intake.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
              "format": "double"
            }
          },
          {
            "name": "Price",
            "in": "query",
            "description": "The monetary price for this lead intake.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
              "format": "double"
            }
          },
          {
            "name": "UtmSource",
            "in": "query",
            "description": "The utm source value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UtmMedium",
            "in": "query",
            "description": "The utm medium value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UtmCampaign",
            "in": "query",
            "description": "The utm campaign value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UtmTerm",
            "in": "query",
            "description": "The utm term value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UtmContent",
            "in": "query",
            "description": "The utm content value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Product",
            "in": "query",
            "description": "The product value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Vertical",
            "in": "query",
            "description": "The vertical value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Referrer",
            "in": "query",
            "description": "The referrer value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LandingPage",
            "in": "query",
            "description": "The landing page value for this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TrustedFormUrl",
            "in": "query",
            "description": "The URL associated with this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalId",
            "in": "query",
            "description": "The external ID associated with this lead intake.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SourceMetadata",
            "in": "query",
            "description": "The source metadata key-value data carried with this lead intake; values must be safe to expose in API responses.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "sourceId",
            "in": "query",
            "description": "The Leadping source id supplied as a query string parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "The source API key supplied as a query string parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The lead response was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Source credentials are missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The source is not allowed to accept traffic.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{id}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Gets a lead by ID for current user.",
        "operationId": "Leads_GetForCurrentUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The user does not own this lead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Updates a lead.",
        "operationId": "Leads_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Lead was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Deletes a lead.",
        "operationId": "Leads_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the lead to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Lead was successfully deleted."
          },
          "404": {
            "description": "The specified lead was not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/leads/all/my": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Gets all leads for current user.",
        "operationId": "Leads_GetAllForCurrentUser",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Leads were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfLeadTableRow"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/me": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Gets notifications for current user.",
        "operationId": "Notifications_GetAllForCurrentUser",
        "requestBody": {
          "description": "Cancellation token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged notification table row.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfNotificationTableRow"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/unread-count": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Gets unread notification count.",
        "operationId": "Notifications_GetUnreadCount",
        "responses": {
          "200": {
            "description": "Returns the int.",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{id}/mark-read": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Marks notification as read.",
        "operationId": "Notifications_MarkAsRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the notification to mark as read.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the bool.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/mark-all-read": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Marks all notifications as read.",
        "operationId": "Notifications_MarkAllAsRead",
        "responses": {
          "200": {
            "description": "Returns the int.",
            "content": {
              "application/json": {
                "schema": {
                  "pattern": "^-?(?:0|[1-9]\\d*)$",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/announcements": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "summary": "Gets announcements.",
        "operationId": "Notifications_GetAnnouncements",
        "requestBody": {
          "description": "Cancellation token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged notification table row.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfNotificationTableRow"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/sources": {
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "Creates a source.",
        "operationId": "Sources_Create",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Source was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/sources/{id}": {
      "put": {
        "tags": [
          "Sources"
        ],
        "summary": "Updates a source.",
        "operationId": "Sources_Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Source was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified source was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Sources"
        ],
        "summary": "Gets a source.",
        "operationId": "Sources_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified source was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sources"
        ],
        "summary": "Deletes a source.",
        "operationId": "Sources_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the source to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Source was successfully deleted."
          },
          "404": {
            "description": "The specified source was not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/sources/all/my": {
      "post": {
        "tags": [
          "Sources"
        ],
        "summary": "Gets all sources for current user.",
        "operationId": "Sources_GetAllForCurrentUser",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sources were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfSourceTableRow"
                }
              }
            }
          }
        }
      }
    },
    "/users/me/paymentmethod": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets current user's payment method.",
        "operationId": "Users_GetPaymentMethodForCurrentUser",
        "responses": {
          "200": {
            "description": "Returns the stripe payment method response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripePaymentMethodResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Gets current user's info.",
        "operationId": "Users_GetForCurrentUser",
        "responses": {
          "200": {
            "description": "Returns the user response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Updates current user's info.",
        "operationId": "Users_UpdateForCurrentUser",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the user response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/users/change-billing-plan": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Changes billing plan.",
        "operationId": "Users_ChangeBillingPlan",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBillingPlanRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeBillingPlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the user response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/users/compliance": {
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Updates compliance info.",
        "operationId": "Users_UpdateCompliance",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComplianceUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ComplianceUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the user response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/payment-methods/{id}": {
      "get": {
        "tags": [
          "PaymentMethods"
        ],
        "summary": "Gets a payment method.",
        "operationId": "PaymentMethods_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the payment method to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment method was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripePaymentMethodResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified payment method was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PaymentMethods"
        ],
        "summary": "Deletes a payment method.",
        "operationId": "PaymentMethods_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the payment method to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Payment method was successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "The specified payment method was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Gets a transaction by ID for current user.",
        "operationId": "Transactions_GetForCurrentUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the transaction to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified transaction was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "The user does not own this transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/all/my": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Gets all transactions for current user.",
        "operationId": "Transactions_GetAllForCurrentUser",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transactions were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfTransactionTableRow"
                }
              }
            }
          }
        }
      }
    },
    "/usage/all/my": {
      "post": {
        "tags": [
          "Usage"
        ],
        "summary": "Gets all for current business.",
        "operationId": "Usage_GetAllForCurrentBusiness",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the paged usage ledger table row.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfUsageLedgerTableRow"
                }
              }
            }
          }
        }
      }
    },
    "/usage/summary/my": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Gets summary for current business.",
        "operationId": "Usage_GetSummaryForCurrentBusiness",
        "parameters": [
          {
            "name": "periodStart",
            "in": "query",
            "description": "The period start.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "periodEnd",
            "in": "query",
            "description": "The period end.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the usage summary response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Gets the authenticated user's current business.",
        "operationId": "Businesses_GetForCurrentUser",
        "responses": {
          "200": {
            "description": "Business was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "404": {
            "description": "The specified business was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Businesses"
        ],
        "summary": "Updates the authenticated user's current business profile.",
        "operationId": "Businesses_UpdateForCurrentUser",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the business response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/options": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Gets the businesses the authenticated user can switch into.",
        "operationId": "Businesses_GetSwitchOptions",
        "responses": {
          "200": {
            "description": "Returns the list of business switch option.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessSwitchOption"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/switch": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Switches the authenticated user's current business context.",
        "operationId": "Businesses_SwitchCurrentBusiness",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessSwitchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessSwitchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the business response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessResponse"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user is not authorized for this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/users": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Gets users assigned to the authenticated user's current business.",
        "operationId": "Businesses_GetCurrentBusinessUsers",
        "responses": {
          "200": {
            "description": "Returns the list of business user table row.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessUserTableRow"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Adds a user to the authenticated user's current business.",
        "operationId": "Businesses_AddCurrentBusinessUser",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUserRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the business user response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user is not authorized for this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/users/{userId}": {
      "put": {
        "tags": [
          "Businesses"
        ],
        "summary": "Changes a user's role in the authenticated user's current business.",
        "operationId": "Businesses_ChangeCurrentBusinessUserRole",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The ID of the user whose current-business role is changing.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUserRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the business user response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user is not authorized for this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Businesses"
        ],
        "summary": "Removes a user from the authenticated user's current business.",
        "operationId": "Businesses_RemoveCurrentBusinessUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The ID of the user to remove from the current business.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content is returned when the operation succeeds."
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "The authenticated user is not authorized for this operation.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/invitations": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Gets invitations for the authenticated user's current business.",
        "operationId": "Businesses_GetCurrentBusinessInvitations",
        "responses": {
          "200": {
            "description": "Returns the list of business invitation table row.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BusinessInvitationTableRow"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Creates an invitation for the authenticated user's current business.",
        "operationId": "Businesses_CreateCurrentBusinessInvitation",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessInvitationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessInvitationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the business invitation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/invitations/{invitationId}/resend": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Resends an invitation for the authenticated user's current business.",
        "operationId": "Businesses_ResendCurrentBusinessInvitation",
        "parameters": [
          {
            "name": "invitationId",
            "in": "path",
            "description": "The ID of the current-business invitation to resend.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the business invitation response.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/me/invitations/{invitationId}": {
      "delete": {
        "tags": [
          "Businesses"
        ],
        "summary": "Revokes an invitation for the authenticated user's current business.",
        "operationId": "Businesses_RevokeCurrentBusinessInvitation",
        "parameters": [
          {
            "name": "invitationId",
            "in": "path",
            "description": "The ID of the current-business invitation to revoke.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content is returned when the operation succeeds."
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/invitations/token/{token}": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Gets a business invitation by its acceptance token.",
        "operationId": "Businesses_GetInvitationByToken",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "The invitation acceptance token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the business invitation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/invitations/accept": {
      "post": {
        "tags": [
          "Businesses"
        ],
        "summary": "Accepts a business invitation.",
        "operationId": "Businesses_AcceptInvitation",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptBusinessInvitationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptBusinessInvitationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the business invitation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessInvitationResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/all/my": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets all activities for current user.",
        "operationId": "Activities_GetAllForCurrentUser",
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Activities were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfActivityTableRow"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/conversations/{conversationId}": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets all activities for a conversation.",
        "operationId": "Activities_GetAllForConversation",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "description": "The ID of the conversation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Activities for the conversation were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfActivityTableRow"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/leads/{leadId}": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets all activities for a lead.",
        "operationId": "Activities_GetAllForLead",
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "description": "The ID of the lead.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDataOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Activities for the lead were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfActivityTableRow"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/{activityId}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets activity by ID.",
        "operationId": "Activities_GetById",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "The ID of the activity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTableRow"
                }
              }
            }
          },
          "404": {
            "description": "Activity was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/{activityId}/detail": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Gets activity details by ID.",
        "operationId": "Activities_GetDetailById",
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "The ID of the activity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity details were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityDetailResponse"
                }
              }
            }
          },
          "404": {
            "description": "Activity was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/activities/conversations/{conversationId}/notes": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Creates a note activity for a conversation.",
        "operationId": "Activities_CreateNote",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "description": "The conversation identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A token to cancel the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns the activity table row.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityTableRow"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AcceptBusinessInvitationRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The token supplied to authorize or complete this business invitation."
          },
          "email": {
            "type": "string",
            "description": "The email address associated with this business invitation.",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "description": "The first name value for this business invitation.",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "description": "The date and time for the last name value on this business invitation.",
            "nullable": true
          }
        },
        "description": "Request payload for accept business invitation."
      },
      "ActivationDomainOption": {
        "type": "object",
        "properties": {
          "domainName": {
            "type": "string",
            "description": "The domain name associated with this activation domain option."
          },
          "whyItFits": {
            "type": "string",
            "description": "The why it fits value for this activation domain option."
          },
          "industryRelevance": {
            "type": "string",
            "description": "The industry relevance value for this activation domain option."
          },
          "trustConcerns": {
            "type": "string",
            "description": "The trust concerns value for this activation domain option.",
            "nullable": true
          },
          "estimatedAnnualCost": {
            "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?$",
            "description": "The estimated annual cost value for this activation domain option.",
            "format": "double",
            "nullable": true
          },
          "availabilityStatus": {
            "type": "string",
            "description": "The current availability status for this activation domain option."
          },
          "recommended": {
            "type": "boolean",
            "description": "Whether this activation domain option is recommended."
          }
        },
        "description": "API DTO containing activation domain option data used by Leadping API contracts."
      },
      "ActivationLaunchReviewStatus": {
        "enum": [
          "NotReady",
          "Pending",
          "Approved",
          "NotRequired",
          "Blocked"
        ],
        "type": "string",
        "description": "Defines the supported Activation Launch Review Status values."
      },
      "ActivationOnboardingStatus": {
        "enum": [
          "Draft",
          "Submitted",
          "Failed"
        ],
        "type": "string",
        "description": "Defines the supported Activation Onboarding Status values."
      },
      "ActivationPaymentStatus": {
        "enum": [
          "PaymentMethodPending",
          "PaymentMethodConfirmed",
          "Failed"
        ],
        "type": "string",
        "description": "Defines the supported Activation Payment Status values."
      },
      "ActivationSubscriptionStatus": {
        "enum": [
          "Pending",
          "Active",
          "Failed",
          "Canceled"
        ],
        "type": "string",
        "description": "Defines the supported Activation Subscription Status values."
      },
      "ActivationTelephonyStatus": {
        "enum": [
          "NotStarted",
          "ProvisioningPending",
          "PartiallyProvisioned",
          "Ready",
          "Failed",
          "BlockedRequiresOperatorAction"
        ],
        "type": "string",
        "description": "Defines the supported Activation Telephony Status values."
      },
      "ActivationTimelineEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID for this activation timeline event."
          },
          "type": {
            "type": "string",
            "description": "The type classification for this activation timeline event."
          },
          "title": {
            "type": "string",
            "description": "The title value for this activation timeline event."
          },
          "details": {
            "type": "string",
            "description": "The details value for this activation timeline event.",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "The current status for this activation timeline event."
          },
          "actorName": {
            "type": "string",
            "description": "The actor name value for this activation timeline event.",
            "nullable": true
          },
          "failureReason": {
            "type": "string",
            "description": "The human-readable failure reason explaining this activation timeline event.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time for the created at value on this activation timeline event.",
            "format": "date-time"
          }
        },
        "description": "API DTO containing activation timeline event data used by Leadping API contracts."
      },
      "ActivityDetailResponse": {
        "type": "object",
        "properties": {
          "activityType": {
            "$ref": "#/components/schemas/ActivityType"
          },
          "activityCategory": {
            "type": "string",
            "description": "The activity category value for this activity detail."
          },
          "conversationId": {
            "type": "string",
            "description": "The conversation ID associated with this activity detail.",
            "nullable": true
          },
          "leadId": {
            "type": "string",
            "description": "The lead ID associated with this activity detail.",
            "nullable": true
          },
          "user": {
            "$ref": "#/components/schemas/IdNamePair"
          },
          "summary": {
            "type": "string",
            "description": "The summary value for this activity detail.",
            "nullable": true
          },
          "direction": {
            "type": "string",
            "description": "The direction value for this activity detail.",
            "nullable": true
          },
          "status": {
            "oneOf": [
              {
                "type": "object",
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ActivityStatus"
              }
            ]
          },
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "description": "API response containing activity detail data returned to callers."
      },
      "ActivityStatus": {
        "enum": [
          "Pending",
          "InProgress",
          "Completed",
          "Failed",
          "Cancelled"
        ],
        "type": "string",
        "description": "Defines the supported Activity Status values."
      },
      "ActivityTableRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID for this activity."
          },
          "activityType": {
            "$ref": "#/components/schemas/ActivityType"
          },
          "activityCategory": {
            "type": "string",
            "description": "The activity category value for this activity."
          },
          "conversationId": {
            "type": "string",
            "description": "The conversation ID associated with this activity.",
            "nullable": true
          },
          "leadId": {
            "type": "string",
            "description": "The lead ID associated with this activity.",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "description": "The summary value for this activity.",
            "nullable": true
          },
          "direction": {
            "type": "string",
            "description": "The direction value for this activity.",
            "nullable": true
          },
          "status": {
            "oneOf": [
              {
                "type": "object",
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/ActivityTimelineStatus"
              }
            ]
          },
          "statusReason": {
            "type": "string",
            "description": "The human-readable status reason explaining this activity.",
            "nullable": true
          },
          "isWarmup": {
            "type": "boolean",
            "description": "Whether this activity is warmup."
          },
          "trafficType": {
            "oneOf": [
              {
                "type": "object",
                "nullable": true
              },
              {
                "$ref": "#/components/schemas/SmsTrafficType"
              }
            ]
          },
          "scheduledFor": {
            "type": "string",
            "description": "The date and time for the scheduled for value on this activity.",
            "format": "date-time",
            "nullable": true
          },
          "scheduledReason": {
            "type": "string",
            "description": "The human-readable scheduled reason explaining this activity.",
            "nullable": true
          },
          "canceledAt": {
            "type": "string",
            "description": "The date and time for the canceled at value on this activity.",
            "format": "date-time",
            "nullable": true
          },
          "cancelReason": {
            "type": "string",
            "description": "The human-readable cancel reason explaining this activity.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time for the created at value on this activity.",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "description": "The date and time for the created by value on this activity."
          }
        },
        "description": "API DTO containing activity data used by Leadping API contracts."
      },
      "ActivityTimelineStatus": {
        "enum": [
          "Pending",
          "InProgress",
          "Completed",
          "Cancelled",
          "Scheduled",
          "Queued",
          "Sending",
          "Sent",
          "Received",
          "Delivered",
          "Undeliverable",
          "Opted out",
          "Blocked",
          "Initiated",
          "Ringing",
          "Active",
          "Ended",
          "Missed",
          "Voicemail",
          "Failed",
          "Canceled"
        ],
        "type": "string",
        "description": "Defines the supported Activity Timeline Status values."
      },
      "ActivityType": {
        "enum": [
          "Message",
          "Sms",
          "Mms",
          "Call",
          "Voicemail",
          "Note",
          "LeadCreated",
          "LeadUpdated",
          "Notification",
          "Payment"
        ],
        "type": "string",
        "description": "Defines the supported Activity Type values."
      },
      "BillableUnit": {
        "enum": [
          "sms_segment",
          "mms_message",
          "email_message",
[...]
